= content_for :title, t('.title')

- if request.xhr?
  a.close-reveal-modal ×

.terms-page.static-page
  .row
    .title
      h3 Merci! 
      h4 Votre message a bien été envoyé. Nous vous ferons un retour dès que possible.</p>
