.jumbo
  background-image: image-url("")
  width: 100%
  min-height: calc(0vh - 70px)
  background-size: cover
  background-position: center
  h1
    color: white
    font-size: 45px
    font-weight: 400
    text-shadow: 0px 1px 3px black
    margin-bottom: 50px
    text-align: center
    padding-top: 2cm

.carousel slide
  width: 100%
  min-height: calc(70vh - 50px)

.vid
  background-size: cover
  background-position: center

.discover
  background-color: #F5F9F9
  .discover-title
    color: #3D321C
    text-transform: uppercase
    padding-top: 60px
    font-size: 30px
    max-width: 900px
    margin: 0 auto
  .discover-title-project
    color: #DB9500
    padding: 40px 15px
    font-size: 30px
    font-weight: bold


.project-card
  background-color: white
  margin-bottom: 30px
  border: 0.5px solid grey
  border-radius: 3px
  .img-1
    background-image: image-url("pano.jpeg")
    background-size: cover
    background-position: center
    width: 100%
    height: 250px
  .description
    text-transform: uppercase
    padding: 30px 10px
    font-size: 25px
  .location
    text-align: left
    padding: 10px
    .icon
      display: inline-block
      img
        height: 33px
    .location-text
      display: inline-block

.price-day
  clear: both
  .price
    display: inline-block
    float: left
    padding: 10px
  .day
    display: inline-block
    float: right
    padding: 10px

.statement
  padding: 10px
  progress[value]
    -webkit-appearance: none
    appearance: none
    width: 100%
    height: 20px
  progress[value]::-webkit-progress-bar
    background-color: white
    border-radius: 3px
    border: 0.5px solid grey
  progress[value]::-webkit-progress-value
    background-color: #DB9500

.see-more
  padding: 20px 10px 60px 10px

.cta-project
  background-color: #A3320C
  height: 300px
  width: 100%
  background-image: image-url("profile.svg")
  background-repeat: repeat
  background-size: 60px
  background-repeat: space
  .cta-text
    color: white
    font-size: 30px
    margin-bottom: 30px
    padding: 10px

.why-text
  padding: 60px 10px
  font-size: 30px
  color: #3D321C

.why-icon img
  height: 50px

.why-title-item
  padding: 30px 0px
  color: #DB9500
  font-size: 25px

.why-description
  margin-bottom: 30px
  color: #3D321C
  text-align: justify

.trustpilot-widget
  background-color: #fff
  size : 16px
  margin-bottom: 20px
  a 
    size: 16px

.partnership
  padding-bottom: 0px

.partner1-icon
  height: 200px
  background-image: image-url("oserlafrique.png")
  background-repeat: no-repeat
  background-position: center
  background-size: 100%

.partneriyem1-icon
  height: 200px
  background-image: image-url("logo.png")
  background-repeat: no-repeat
  background-position: center
  background-size: 100%

.partneriyem2-icon
  height: 200px
  background-image: image-url("logo-obotama.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: contain

.partneriyem3-icon
  height: 200px
  background-image: image-url("logo_afd.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: 100%

.partneriyem4-icon
  height: 200px
  background-image: image-url("logo_forim.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: contain

/*image-url("cofides.jpg")
.partner2-icon
  height: 200px
  background-image: image-url("logo-roar-bon.png")
  background-repeat: no-repeat
  background-position: center
  background-size: contain

/*image-url("ASI.jpg")
.partner3-icon
  height: 200px
  background-image: image-url("Novafi.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: 100%

.partner4-icon
  height: 200px
  background-image: image-url("Logo_Kwendoo.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: contain 

.partner5-icon
  height: 200px
  background-image: image-url("Saboutech.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: contain

/*image-url("maeci.jpg")
.partner6-icon
  height: 200px
  background-image: image-url("Obotama.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: contain

.partner7-icon
  height: 200px
  background-image: image-url("djouman.png")
  background-repeat: no-repeat
  background-position: center
  background-size: contain

.partnerAfroCulture-icon
  height: 200px
  background-image: image-url("Logo-WHITE.png")
  background-repeat: no-repeat
  background-position: center
  background-size: contain

.partner8-icon
  height: 200px
  background-image: image-url("Cipmen.jpg")
  background-repeat: no-repeat
  background-position: center
  background-size: contain

.partner9-icon
  height: 200px
  background-image: image-url("Logo-JabaSpace.png")
  background-repeat: no-repeat
  background-position: center
  background-size: contain

.partner10-icon
  height: 200px
  background-image: image-url("logo-awl.png")
  background-repeat: no-repeat
  background-position: center
  background-size: contain

.chairman-icon
  height: 200px
  background-image: image-url("Photo_Identite_Fondateur.jpg")
  background-repeat: no-repeat
  background-position: center
  


body
  line-height: 1.4

.presse
  padding-bottom: 30px

.mb-4
  margin-bottom: 20px


/* Partner Icon Slider
.partners-slide
  .slick-slide
    margin: 0px 20px
    img
      width: 100%

  .slick-slider
    position: relative
    display: block
    box-sizing: border-box
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-touch-callout: none
    -khtml-user-select: none
    -ms-touch-action: pan-y
    touch-action: pan-y
    -webkit-tap-highlight-color: transparent

  .slick-list
    position: relative
    display: block
    overflow: hidden
    margin: 0
    padding: 0
    &:focus
      outline: none
    &.dragging
      cursor: pointer
      cursor: hand

  .slick-slider
    .slick-track, .slick-list
      -webkit-transform: translate3d(0, 0, 0)
      -moz-transform: translate3d(0, 0, 0)
      -ms-transform: translate3d(0, 0, 0)
      -o-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

  .slick-track
    position: relative
    top: 0
    left: 0
    display: block
    &:before
      display: table
      content: ''
    &:after
      display: table
      content: ''
      clear: both

  .slick-loading .slick-track
    visibility: hidden

  .slick-slide
    display: none
    float: left
    height: 100%
    min-height: 1px

  [dir='rtl'] .slick-slide
    float: right

  .slick-slide
    img
      display: block
    &.slick-loading img
      display: none
    &.dragging img
      pointer-events: none

  .slick-initialized .slick-slide
    display: block

  .slick-loading .slick-slide
    visibility: hidden

  .slick-vertical .slick-slide
    display: block
    height: auto
    border: 1px solid transparent

  .slick-arrow.slick-hidden
    display: none 

  .slide
    width: 300px

/* end of css for slider parners section

/* Banner slide css

.banner_style_image
  width: 100%
  

/* lg
@media (min-width: 1200px)
  .banner_style_image
    // height: 466px !important 

/* old size value was 1348*463 px

/* md
@media (min-width: 992px) and (max-width: 1199px)
  .banner_style_image
    // height: 360px !important

/* sm
@media (min-width: 768px) and (max-width: 991px)
  .banner_style_image
    // height: 278.8px !important

/* xs
@media (max-width: 767px)
  .banner_style_image
    // height: 278px !important

/* XS Portrait
@media (max-width: 480px)
  .banner_style_image
    // height: 174px !important

/*end of banner slide css

/* Carousel properties

.mySlides
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0.6,0.6));
    min-width: 100%;

.carousel-text
  display: block
  position: absolute
  top: 80%
  transform: translateY(-50%)
  text-align: center
  width: 100%

  h4
    display: inline-block
    a
      margin: 0
  h4:last-of-type
    margin-left: 20px

/* xs
@media (max-width: 575px)
  .mySlides
    height: 100%

  .carousel-inner
    height: 150px !important

/* md
@media (max-width: 991px)
  .carousel-inner
    height: 300px !important

/* xl
@media (min-width: 992px)
  .carousel-inner
    height: 500px !important
