body 
	overflow-x: hidden 
    padding-top: 10px
    background-color: #f7f7f7
	font-family: 'Roboto Slab',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
p 
	line-height: 1.75 
// a 
	color: #fed136 
	&:hover 
		color: #fec503 
.text-primary 
	color: #fed136!important 
h1,h2,h3,h4,h5,h6 
	font-weight: 700 
	font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
.page-section 
	padding: 5px 0 
	h2 
		&.section-heading 
			font-size: 40px 
            color: #000
			margin-top: 0 
			margin-bottom: 15px 
	h3 
		&.section-subheading 
			font-size: 16px 
			font-weight: 400 
			font-style: italic 
			margin-bottom: 45px 
			margin-left: 20px 
			text-transform: none 
			font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
::-moz-selection 
	background: #fed136 
	text-shadow: none 
::selection 
	background: #fed136 
	text-shadow: none 
// input::placeholder
  color: white
  font-size: 25px
  color: #fed136

img 
	&::-moz-selection 
		background: 0 0 
		background: 0 0 
	&::selection 
		background: 0 0 
.btn 
	font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
	font-weight: 700 
.btn-xl 
	font-size: 18px 
	padding: 20px 40px 
.btn-primary 
	background-color: #fed136 
	border-color: #fed136 
.btn-primary:active,.btn-primary:focus,.btn-primary:hover 
	background-color: #fec810!important 
	border-color: #fec810!important 
	color: #fff 
.btn-primary:active,.btn-primary:focus 
	box-shadow: 0 0 0 .2rem rgba(254,209,55,.5)!important 
// #mainNav 
// 	background-color: #212529 
// 	.navbar-toggler 
// 		font-size: 12px 
// 		right: 0 
// 		padding: 13px 
// 		text-transform: uppercase 
// 		color: #fff 
// 		border: 0 
// 		background-color: #fed136 
// 		font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
// 	.navbar-brand 
// 		color: #fed136 
// 		font-family: 'Kaushan Script',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
// 		font-size: 1.75em 
// 		transition: all .3s 
// 	.navbar-nav 
// 		.nav-item 
// 			.nav-link 
// 				font-size: 90% 
// 				font-weight: 400 
// 				padding: .75em 0 
// 				letter-spacing: 1px 
// 				color: #fff 
// 				font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
// 				padding: 1.1em 1em!important 
// 	&.navbar-shrink 
// 		padding-top: 0 
// 		padding-bottom: 0 
// 		background-color: #212529 
// 		.navbar-brand 
// 			font-size: 1.25em 
// 			padding: 12px 0 
// #mainNav .navbar-brand.active,#mainNav .navbar-brand:active,#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover 
// 	color: #fec503 
// #mainNav .navbar-nav .nav-item .nav-link.active,#mainNav .navbar-nav .nav-item .nav-link:hover 
// 	color: #fed136 
header 
	&.masthead 
		text-align: center 
		color: #fff 
		background-image: url(../img/header-bg.jpg) 
		background-repeat: no-repeat 
		background-attachment: scroll 
		background-position: center center 
		background-size: cover 
header 
	&.masthead 
		.intro-text 
			padding-top: 150px 
			padding-bottom: 100px 
			.intro-lead-in 
				font-size: 22px 
				font-style: italic 
				line-height: 22px 
				margin-bottom: 25px 
				font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
				font-size: 40px 
				font-style: italic 
				line-height: 40px 
				margin-bottom: 200px 
				margin-top: 5px 
				font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
			.intro-heading 
				font-size: 50px 
				font-weight: 700 
				line-height: 50px 
				margin-bottom: 25px 
				font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
				font-size: 75px 
				font-weight: 700 
				line-height: 75px 
				margin-bottom: 50px 
				font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
.service-heading 
	margin: 15px 0 
	text-transform: none 
#portfolio 
	.portfolio-item 
		right: 0 
		margin: 0 0 15px 
		.portfolio-link 
			position: relative 
			display: block 
			max-width: 400px 
			margin: 0 auto 
			cursor: pointer 
			.portfolio-hover 
				position: absolute 
				width: 100% 
				height: 100% 
				transition: all ease .5s 
				opacity: 0 
				background: rgba(254,209,54,.9) 
				&:hover 
					opacity: 1 
				.portfolio-hover-content 
					font-size: 20px 
					position: absolute 
					top: 50% 
					width: 100% 
					height: 20px 
					margin-top: -12px 
					text-align: center 
					color: #fff 
					i 
						margin-top: -12px 
		.portfolio-caption 
			max-width: 400px 
			margin: 0 auto 
			padding: 25px 
			text-align: center 
			background-color: #fff 
			h4 
				margin: 0 
				text-transform: none 
			p 
				font-size: 16px 
				font-style: italic 
				margin: 0 
				font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
	* 
		z-index: 2 
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 
	margin: 0 
.portfolio-modal 
	.modal-dialog 
		margin: 1rem 
		max-width: 100vw 
.portfolio-modal 
	.modal-content 
		padding: 100px 0 
		text-align: center 
		h2 
			font-size: 3em 
			margin-bottom: 15px 
		p 
			margin-bottom: 30px 
			&.item-intro 
				font-size: 16px 
				font-style: italic 
				margin: 20px 0 30px 
				font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
		ul 
			&.list-inline 
				margin-top: 0 
				margin-bottom: 30px 
		img 
			margin-bottom: 30px 
		button 
			cursor: pointer 
	.close-modal 
		position: absolute 
		top: 25px 
		right: 25px 
		width: 75px 
		height: 75px 
		cursor: pointer 
		background-color: transparent 
		&:hover 
			opacity: .3 
		.lr 
			z-index: 1051 
			width: 1px 
			height: 75px 
			margin-left: 35px 
			transform: rotate(45deg) 
			background-color: #212529 
			.rl 
				z-index: 1052 
				width: 1px 
				height: 75px 
				transform: rotate(90deg) 
				background-color: #212529 
.panel-heading 
	color: black 
.section 
	margin-left: 20px 
	margin-right: 100px 
.img-fluid 
	width: 100% 
	height: 250px 
#prez 
	margin-left: 100px 
	margin-right: 100px 
.list-group-item 
	color: green 
	font-weight: 700 
	font-family: Montserrat 
	font-size: 20px 
.timeline 
	position: relative 
	padding: 0 
	list-style: none 
	&:before 
		position: absolute 
		top: 0 
		bottom: 0 
		left: 40px 
		width: 2px 
		margin-left: -1.5px 
		content: '' 
		background-color: #e9ecef 
	& > li 
		position: relative 
		min-height: 50px 
		margin-bottom: 50px 
		min-height: 100px 
		margin-bottom: 100px 
		&:after 
			clear: both 
		.timeline-panel 
			position: relative 
			float: right 
			width: 100% 
			padding: 0 20px 0 100px 
			text-align: left 
			float: left 
			width: 41% 
			padding: 0 20px 20px 30px 
			text-align: right 
			padding: 0 20px 20px 
			padding: 0 20px 20px 100px 
			&:before 
				right: auto 
				left: -15px 
				border-right-width: 15px 
				border-left-width: 0 
			&:after 
				right: auto 
				left: -14px 
				border-right-width: 14px 
				border-left-width: 0 
		.timeline-image 
			position: absolute 
			z-index: 100 
			left: 0 
			width: 80px 
			height: 80px 
			margin-left: 0 
			text-align: center 
			color: #fff 
			border: 7px solid #e9ecef 
			border-radius: 100% 
			background-color: #fed136 
			left: 50% 
			width: 100px 
			height: 100px 
			margin-left: -50px 
			width: 150px 
			height: 150px 
			margin-left: -75px 
			width: 170px 
			height: 170px 
			margin-left: -85px 
			h4 
				font-size: 10px 
				line-height: 14px 
				margin-top: 12px 
				font-size: 13px 
				line-height: 18px 
				margin-top: 16px 
				font-size: 18px 
				line-height: 26px 
				margin-top: 30px 
				margin-top: 40px 
		&.timeline-inverted 
			& > .timeline-panel 
				float: right 
				padding: 0 20px 0 100px 
				text-align: left 
				float: right 
				padding: 0 30px 20px 20px 
				text-align: left 
				padding: 0 20px 20px 
				padding: 0 100px 20px 20px 
				&:before 
					right: auto 
					left: -15px 
					border-right-width: 15px 
					border-left-width: 0 
				&:after 
					right: auto 
					left: -14px 
					border-right-width: 14px 
					border-left-width: 0 
		&:last-child 
			margin-bottom: 0 
	.timeline-heading 
		h4 
			margin-top: 0 
			color: inherit 
			&.subheading 
				text-transform: none 
.timeline>li:after,.timeline>li:before 
	display: table 
	content: ' ' 
.timeline .timeline-body>p,.timeline .timeline-body>ul 
	margin-bottom: 0 
.team-member 
	margin-bottom: 50px 
	text-align: center 
.team-member 
	img 
		width: 225px 
		height: 225px 
		border: 7px solid rgba(0,0,0,.1) 
	h4 
		margin-top: 25px 
		margin-bottom: 0 
		text-transform: none 
	p 
		margin-top: 0 
section#contact 
	background-color: #212529 
	background-image: url(../img/map-image.png) 
	background-repeat: no-repeat 
	background-position: center 
	.section-heading 
		color: #fff 
	.form-group 
		margin-bottom: 25px 
		input 
			&.form-control 
				height: auto 
		textarea 
			&.form-control 
				height: 248px 
	.form-control 
		&:focus 
			border-color: #fed136 
			box-shadow: none 
	::-webkit-input-placeholder 
		font-weight: 700 
		color: #ced4da 
		font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
	:-moz-placeholder 
		font-weight: 700 
		color: #ced4da 
		font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
	::-moz-placeholder 
		font-weight: 700 
		color: #ced4da 
		font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
	:-ms-input-placeholder 
		font-weight: 700 
		color: #ced4da 
		font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji' 
section#contact .form-group input,section#contact .form-group textarea 
	padding: 20px 
#team p 
    font-size: 15px

.s002
  min-height: 100vh
  display: -ms-flexbox
  display: flex
  -ms-flex-pack: center
  justify-content: center
  -ms-flex-align: center
  align-items: center
  font-family: 'Poppins', sans-serif
  background: url("entrepreneur_debout.jpg")
  background-size: cover
  background-position: center center
  padding: 15px

  form
    width: 100%
    max-width: 1190px

    legend
      font-size: 60px
      line-height: 1
      color: #fff
      margin-bottom: 60px
      font-weight: 400
      text-align: center

    .inner-form
      background: rgba(0, 0, 0, 0.5)
      padding: 16px
      display: -ms-flexbox
      display: flex
      width: 100%
      -ms-flex-pack: justify
      justify-content: space-between
      -ms-flex-align: center
      align-items: center

      .input-field
        position: relative
        border-right: 1px solid #ddd

        .icon-wrap
          position: absolute
          top: 0
          left: 0
          width: 40px
          height: 100%
          display: -ms-flexbox
          display: flex
          -ms-flex-pack: end
          justify-content: flex-end
          -ms-flex-align: center
          align-items: center
          z-index: 1

          svg
            fill: #555
            width: 14px
            height: 14px

        input
          height: 70px
          background: #fff
          border-radius: 0
          border: 0
          display: block
          width: 100%
          padding: 10px 20px 10px 45px
          font-size: 16px
          color: #555
          font-weight: 400
          font-family: 'Poppins', sans-serif

          &.placeholder, &:-moz-placeholder, &::-webkit-input-placeholder
            color: #9a9a9a
            font-size: 16px
            font-weight: 400
            text-transform: uppercase

          &:hover, &:focus
            box-shadow: none
            outline: 0

        &.first-wrap
          -ms-flex-positive: 1
          flex-grow: 1

        &.second-wrap, &.third-wrap
          min-width: 190px
          max-width: 190px

        &.fouth-wrap
          min-width: 190px
          max-width: 190px
          border-right: 0

          .choices__inner
            background: #fff
            border-radius: 0
            border: 0
            height: 70px
            color: #666
            display: -ms-flexbox
            display: flex
            -ms-flex-align: center
            align-items: center
            padding: 10px 32px 10px 45px
            border-radius: 0

            .choices__list.choices__list--single
              display: -ms-flexbox
              display: flex
              padding: 0
              -ms-flex-align: center
              align-items: center
              height: 100%
              font-size: 16px

            .choices__item.choices__item--selectable.choices__placeholder
              display: -ms-flexbox
              display: flex
              -ms-flex-align: center
              align-items: center
              height: 100%
              opacity: 1
              color: #9a9a9a
              text-transform: uppercase

            .choices__list--single .choices__item
              display: -ms-flexbox
              display: flex
              -ms-flex-align: center
              align-items: center
              height: 100%
              color: #666

          .choices[data-type*="select-one"]:after
            right: 30px
            border-color: #e5e5e5 transparent transparent transparent

          .choices__list.choices__list--dropdown
            border: 0
            background: #fff
            padding: 10px 15px
            border-radius: 0
            box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15)

            .choices__item--selectable
              padding-right: 0

          .choices__list--dropdown
            .choices__item--selectable.is-highlighted
              background: #fff
              color: #b78a62

            .choices__item
              color: #555
              min-height: 24px
              font-size: 16px

        &.fifth-wrap
          min-width: 190px
          max-width: 190px
          padding-left: 10px
          border-right: 0

          .btn-search
            height: 70px
            width: 100%
            background: #b78a62
            white-space: nowrap
            border-radius: .5px
            font-size: 20px
            color: #fff
            transition: all .2s ease-out, color .2s ease-out
            border: 0
            cursor: pointer
            font-weight: 400
            font-family: 'Poppins', sans-serif

            &:hover
              background: #af7d51

@media screen and (max-width: 992px)
  .s002 form
    legend
      font-size: 50px
      text-align: center
      margin-bottom: 50px

    .inner-form
      -ms-flex-wrap: wrap
      flex-wrap: wrap
      -ms-flex-pack: justify
      justify-content: space-between

      .input-field
        margin-bottom: 15px

        &.first-wrap
          width: 100%

        &.second-wrap, &.third-wrap
          width: calc(50% - 7.5px)
          max-width: none

        &.fouth-wrap
          width: calc(50% - 7.5px)
          max-width: none
          margin-bottom: 0

        &.fifth-wrap
          width: calc(50% - 7.5px)
          max-width: none
          padding-left: 0
          margin-bottom: 0

@media screen and (max-width: 767px)
  .s002 form
    legend
      font-size: 40px
      margin-bottom: 40px

    .inner-form .input-field
      &.second-wrap, &.third-wrap, &.fouth-wrap
        width: 100%
        margin-bottom: 15px

      &.fifth-wrap
        width: 100%
        margin-bottom: 15px
        margin-bottom: 0


