AWS_ACCESS_KEY=
AWS_BUCKET=
AWS_SECRET_KEY=
BALANCED_APPEARS_ON_STATEMENT_AS=
BALANCED_API_KEY_SECRET=
BALANCED_MARKETPLACE_ID=
BASE_DOMAIN=
BASE_URL=
BLOG_URL=
COMPANY_NAME=
CURRENCY_CHARGE=
CURRENCY=
DEVISE_SECRET_KEY=
EMAIL_CONTACT=
EMAIL_NO_REPLY=
EMAIL_PAYMENTS=
EMAIL_PROJECTS=
EMAIL_SYSTEM=
FACEBOOK_APP_ID=
FACEBOOK_URL=
FACEBOOK_SECRET=
LINKEDIN_APP_ID=
LINKEDIN_SECRET=
GOOGLE_ANALYTICS_ID=
HOST=
MAILCHIMP_API_KEY=
MAILCHIMP_LIST_ID=
MAILCHIMP_SUCCESSFULL_LIST_ID=
MAILCHIMP_FAILED_LIST_ID=
MAILCHIMP_URL=
MANDRILL_APIKEY=
MANDRILL_USERNAME=
PLATFORM_FEE=
PLATFORM_FEE_PERCENTAGE =
PLATFORM_FIX_FEE=
PORT=
SECRET_KEY_BASE=
SECRET_TOKEN=
SUPPORT_FORUM=
TIMEZONE=
TWITTER_USERNAME=
TWITTER_URL=
USERVOICE_KEY=
USERVOICE_SUBDOMAIN=
USERVOICE_SSO_KEY=
REDIS_PROVIDER=REDISTODO_URL
ASSET_HOST=
MEMCACHEDCLOUD_SERVERS=
MEMCACHEDCLOUD_USERNAME=
MEMCACHEDCLOUD_PASSWORD=
NEIGHBORLY_WEBHOOK_URL=
WEBHOOK_SECRET_KEY=
IS_STAGING=
MANGOPAY_PREPRODUCTION=
MANGOPAY_CLIENT_ID=
MANGOPAY_CLIENT_PASSPHRASE=
ADMIN_EMAIL=
ADMIN_PASSWORD=

ORANGE_MONEY_OAUTH_URL=
ORANGE_MONEY_AUTHORIZATION_HEADER=

ORANGE_MONEY_WEBPAY_URL_DEFAULT=
ORANGE_MONEY_MERCHANT_KEY_DEFAULT=

ORANGE_MONEY_WEBPAY_URL_CAMEROON=
ORANGE_MONEY_MERCHANT_KEY_CAMEROON=

ORANGE_MONEY_WEBPAY_URL_MALI=
ORANGE_MONEY_MERCHANT_KEY_MALI=
