.subtle-title
  font-weight: 100
  text-transform: uppercase
  color: $secondary-font-color

.row.page-main-content
  margin-top: 1.875em
  margin-bottom: 1.875em
  .content
    margin-top: 0px
  .btn-primary
    color: white
    border-radius: 3px
    background-color: #A3320C
    padding: 12px 20px
  .btn-primary:hover
    opacity: 0.8
    background-color: #A3320C !important
  .form-control
    border: 2px solid #A3320C
