.btn-medium-red
  color: white
  border: 1px solid #A3320C
  padding: 12px 20px
  border-radius: 3px
  background-color: #A3320C
  margin: 10px

.btn-medium-orange
  color: white
  border: 1px solid #db930d
  padding: 12px 20px
  border-radius: 3px
  background-color: #db930d
  margin: 10px

.btn-medium-red:hover
  text-decoration: none
  opacity: 0.8
  color: white
  background-color: #A3320C


.btn-medium-yellow
  color: white
  border: 1px solid #DB9500
  padding: 12px 20px
  border-radius: 3px
  background-color: #DB9500
  margin: 10px

.btn-medium-yellow:hover
  text-decoration: none
  opacity: 0.8
  color: white

.btn-medium-yellow-w-m
  color: white
  border: 1px solid #DB9500
  padding: 12px 20px
  border-radius: 3px
  background-color: #DB9500

.btn-medium-yellow-w-m:hover
  text-decoration: none
  opacity: 0.8
  color: white

.btn-medium-orange-w-m
  color: white
  border: 1px solid #be5330
  padding: 12px 20px
  border-radius: 3px
  background-color: #be5330

.btn-medium-orange-w-m:hover
  text-decoration: none
  opacity: 0.8
  color: white

.btn-medium-yellow-border
  color: #DB9500
  border: 1px solid #DB9500
  padding: 12px 20px
  border-radius: 3px
  text-transform: none


.btn-medium-yellow-border:hover
  text-decoration: none
  color: white
  background-color: #DB9500
  border: 1px solid #DB9500

.btn-medium-orange-border
  color: #be5330
  border: 1px solid #be5330
  padding: 12px 20px
  border-radius: 3px
  text-transform: none


.btn-medium-orange-border:hover
  text-decoration: none
  color: white
  background-color: #be5330
  border: 1px solid #be5330

.btn-medium-white-border
  color: white
  border: 1px solid white
  padding: 12px 20px
  border-radius: 3px
  text-transform: none

.btn-medium-white-border:hover
  text-decoration: none
  color: #A3320C
  background-color: white
  border: 1px solid #A3320C


.btn-medium-red-nm
  color: white
  border: 1px solid #A3320C
  padding: 12px 20px
  border-radius: 3px
  background-color: #A3320C

.btn-medium-red-nm:hover
  text-decoration: none
  opacity: 0.9
  color: white


