@media screen and (max-width:575px)
  .jumbo
    h1
      font-size: 40px
    h4
      font-size: 5px
      a
        padding: 3px 5px
    h4:last-of-type
      margin-left: 0

  .discover
    .discover-title
      font-size: 16px
      padding: 60px 0 0 0	0
    .discover-title-project
      font-size: 16px
      padding: 40px 15px 0 15px

  .why-text
    font-size: 16px
    padding: 60px 10px 0px 1	0px

@media (max-width: 991px)
  .jumbo
    h4
      font-size: 10px
      a
        padding: 6px 10px

  .discover
    .discover-title
      font-size: 24px
      padding: 60px 0 0 0	0
    .discover-title-project
      font-size: 24px
      padding: 40px 15px 0 15px
