.static-page
  header.white
    border-bottom: 1px solid $border-color
    h2
      padding: +emCalc(7px, 0)
      margin: 0
      text-transform: uppercase
  .title
    h2
      margin-bottom: 0
    h4
      color: $secondary-color
      margin-bottom: +emCalc(25px)
  .sidebar
    padding: +emCalc(25px, 0)
    strong
      color: $secondary-color
    ul:last-child
      margin-bottom: +emCalc(20px)
  .text
    padding-top: +emCalc(15px)
    h3
      margin-top: +emCalc(25px)
      &:first-child
        margin-top: 0
    h4
      font-weight: 400
    ul, ol
      margin-left: +emCalc(25px)
      li
        margin-bottom: +emCalc(10px)
  dl
    margin-top: +emCalc(24px)
    dt
      font-size: 120%

.background-full
  background-image: image-url("prix-fiatope.jpg")
  width: 100%
  min-height: 30.625em
  padding: 3.75em 0
  background-size: cover
  background-position: center

.background-full-about
  background-image: image-url("team.jpeg")
  width: 100%
  min-height: 500px
  padding: 3.75em 0
  background-size: cover
  background-position: center


.background-full-amba1
  background-image: image-url("hyrondelle.png")
  width: 100%
  min-height: 20.625em
  padding: 3.75em 0
  background-size: cover
  background-position: center

  

.background-full-startupiyem
  background-image: image-url("banner.jpeg")
  width: 100%
  height: 300px
  background-size: cover
  background-position: center
  margin-bottom: 20px

.title-price
  color: #000

.background-full-fiatope-price
  background-image: image-url("banner-fiatope-price.jpeg")
  width: 100%
  height: 500px
  background-size: cover
  background-position: center
  margin-bottom: 20px

.background-full-accelerator
  background-image: image-url("banner_accelerator.png")
  width: 100%
  height: 450px
  background-size: cover
  background-position: center
  margin-bottom: 20px

.title-iyem
  color: white
  size: 40px

.background-title
  h2
    color: white
    font-size: 50px
    text-transform: uppercase
    font-weight: 600
    margin: 0 auto
    max-width: 900px

.info
  max-width: 700px
  margin: 0 auto
  padding: 50px 10px
  color: #3D321C
  a
    color: #3D321C

.info-large
  max-width: 900px
  margin: 0 auto
  size: 16px
  padding: 20px 0
  color: #3D321C
  a
    color: #3D321C

.strong-label
  font-weight: 400
  font-size: 25px
  color: #3D321C
  text-transform: uppercase
  text-align: center

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea
  border: 2px solid #A3320C

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus
  border: 2px solid #A3320C

input[type="text"].search-yellow
  border: 2px solid #DB9500

  input[type="text"]:focus.search-yellow
  border: 2px solid #DB9500

.yellow::-webkit-input-placeholder
  color: #DB9500
  font-size: 14px

.yellow:-moz-placeholder
  text-align: center
  color: #DB9500
  font-size: 14px

.yellow::-moz-placeholder
  text-align: center
  color: #DB9500
  font-size: 14px

.yellow:-ms-input-placeholder
  text-align: center
  color: #DB9500
  font-size: 14px

.icon-et-search
  color: #DB9500

select
  border: 2px solid #DB9500
  color: #DB9500
  padding: 10px

#user_nationality select
  border: 2px solid #A3320C

select:hover
  border: 2px solid #DB9500

select:focus
  border-color: #DB9500
  outline: 0
  -webkit-box-shadow: inset 0 0px 1px #DB9500,0 0 2px #DB9500
  box-shadow: inset 0 0px 1px #DB9500,0 0 2px #DB9500


\::-webkit-input-placeholder
  text-align: center
  color: #A3320C
  font-size: 14px

\:-moz-placeholder 
  text-align: center
  color: #A3320C
  font-size: 14px

\::-moz-placeholder 
  text-align: center
  color: #A3320C
  font-size: 14px

\:-ms-input-placeholder  
  text-align: center
  color: #A3320C
  font-size: 14px

textarea
  height: 250px

input
  text-align: center


.form
  padding-bottom: 40px

.padded
  padding: 40px 0


.padded-width
  padding: 40px 20px

h3, h4
  color: #A3320C

h1 
  color: #fff

p, li
  font-weight: 400
  font-size: 18px

.answer
  display: none

.bounce
  display: block

.faq
  .info-large
    padding-top: 0
    h3 
      margin-bottom: 15px

.successful
  .info-large
    padding-top: 0
    h3 
      padding: 40px 10px

.values
  .info-large
    padding-top: 0
    h3 
      padding: 40px 10px

.org
  .info-large
    padding-top: 0
    h3 
      padding: 10px 10px
      text-align: center
    a 
      color: white

.discover-white
  background-color: white
  .discover-title
    color: #3D321C
    text-transform: uppercase
    padding-top: 60px
    font-size: 40px
    max-width: 900px
    margin: 0 auto
  .discover-title-project
    color: #DB9500
    padding: 60px 15px
    font-size: 30px
    font-weight: bold
@media screen and (max-width:480px)
  .discover
    .discover-title
      padding-top: 20px
    .discover-title-project
      padding: 20px 15px

  .why-text
    font-size: 25px
    padding: 60px 10px 0px 1	0px





.col-title
  font-size: 25px
  color: #A3320C
  padding: 20px
  height: 110px

.col-content
  padding-right: 20px
  ul
    li 
      color: #3D321C
      padding: 7px


.col-btn
  margin: 20px
    

.red-border
  border: 1px solid #A3320C
  border-radius: 3px


.step, .who, .work, .inspiration
  padding: 40px 10px

.step-icon
  font-size: 60px

.who-icon
  font-size: 45px

.work-icon
  font-size: 45px

.step-content
  p
    color: #3d321c

.step-title
  font-size: 25px

.step-one
  color: #A3320C

.step-two
  color: #168257

.step-three
  color: #DB9500

.step, .work
  p 
    padding: 10px 20px
    color: #3d321c
.who
  p
    color: #3d321c 
    max-width: 900px
    margin: 0 auto
    padding: 40px


.who-intro
  h2
    color: #3d321c
    text-transform: uppercase
    padding-bottom: 60px
    font-size: 40px
    max-width: 900px
    margin: 0 auto

.inspiration
  h2
    color: #3d321c
    text-transform: uppercase
    font-size: 40px
    max-width: 900px
    margin: 0 auto

.who-title, .work-title
  font-size: 20px
  color: #A3320C

.who-icon, .work-icon
  color: #A3320C 

.search
  position: relative

.search-button
  position: absolute
  top: 12px
  right: 30px
.tags, .results-for
  margin: 0px auto
  max-width: 980px

.content select
  border: 2px solid #A3320C
  color: #A3320C

.content select:hover
  border: 2px solid #A3320C

.content select:focus
  border-color: #A3320C
  outline: 0
  -webkit-box-shadow: inset 0 0px 1px #A3320C,0 0 2px #A3320C
  box-shadow: inset 0 0px 1px #A3320C,0 0 2px #A3320C

.alert-box.alert
  background-color: #A3320C

#devise-flash-message
  font-size: 15px

.discover-page 
  background-color: #F5F9F9

.newsletter
  .btn
    background-color: transparent
    &:hover
      color: #303233
      border: 1px solid white
      background-color: white

.project_campaign_type select
  border: 2px solid #A3320C
  color: #A3320C

.collapse 
  display: block
  
.pay-icon
  img 
    height: 40px

.pay-icon-small
  img 
    height: 30px

.team-name
  padding: 20px
  span
    font-weight: 300

.challenge
  background-image: image-url("challenge11.jpg")
  width: 100%
  height: 400px
  background-size: cover
  background-position: center


.team-list
  img
    width: 50%

  .content
    width: 50%

    .follow
      position: absolute
      bottom: 24px

  &:hover
    -webkit-transform: scale(1.05)
    transform: scale(1.05)

.team, .team-list
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s

.team .content .title, .team-list .content .title
  font-size: 18px

.team
  .overlay
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    opacity: 0
    -webkit-transition: all 0.5s ease
    transition: all 0.5s ease

  .member-position
    position: absolute
    bottom: -35px
    right: 0
    left: 0
    margin: auto 10%
    z-index: 99

  .team-social
    position: absolute
    bottom: -35px
    right: 0
    left: 0
    margin: auto 10%
    z-index: 99
    bottom: 40px
    opacity: 0
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s

  &:hover
    -webkit-transform: translateY(-7px)
    transform: translateY(-7px)
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)

    .overlay
      opacity: 0.6

    .team-social
      opacity: 1

@media (max-width: 768px)
  .team-list
    img, .content
      width: 100%
      float: none !important

    img .follow, .content .follow
      position: relative
      bottom: 0

.social-icon
  &.social li a
    color: #adb5bd
    border-color: #adb5bd

  li a
    color: #35404e
    border: 1px solid #35404e
    display: inline-block
    height: 32px
    text-align: center
    font-size: 15px
    width: 32px
    line-height: 30px
    -webkit-transition: all 0.4s ease
    transition: all 0.4s ease
    overflow: hidden
    position: relative

.rounded
  border-radius: 5px !important

.para-desc
  max-width: 600px

.text-muted
  color: #8492a6 !important

.section-title .title
  letter-spacing: 0.5px
  font-size: 30px


.team-list
  img
    width: 30%

  .content
    width: 50%

    .follow
      position: absolute
      bottom: 24px

  &:hover
    -webkit-transform: scale(1.05)
    transform: scale(1.05)

.team, .team-list
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s

.team .content .title, .team-list .content .title
  font-size: 18px

.team
  .overlay
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    opacity: 0
    -webkit-transition: all 0.5s ease
    transition: all 0.5s ease

  .member-position
    position: absolute
    bottom: -35px
    right: 0
    left: 0
    margin: auto 10%
    z-index: 99

  .team-social
    position: absolute
    bottom: -35px
    right: 0
    left: 0
    margin: auto 10%
    z-index: 99
    bottom: 40px
    opacity: 0
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s

  &:hover
    -webkit-transform: translateY(-7px)
    transform: translateY(-7px)
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)

    .overlay
      opacity: 0.6

    .team-social
      opacity: 1

@media (max-width: 768px)
  .team-list
    img, .content
      width: 50%
      float: none !important

    img .follow, .content .follow
      position: relative
      bottom: 0

.social-icon
  &.social li a
    color: #adb5bd
    border-color: #adb5bd

  li a
    color: #35404e
    border: 1px solid #35404e
    display: inline-block
    height: 32px
    text-align: center
    font-size: 15px
    width: 32px
    line-height: 30px
    -webkit-transition: all 0.4s ease
    transition: all 0.4s ease
    overflow: hidden
    position: relative

.rounded
  border-radius: 5px !important

.rounded-circle 
  border-radius: 50% !important

.para-desc
  max-width: 600px

.text-muted
  color: #8492a6 !important

.section-title .title
  letter-spacing: 0.5px
  font-size: 30px

.avatar 
  width: 225px



@keyframes revealRTL
  0%
    width: 0
    right: 0
  65%
    width: 100%
    right: 0
  100% 
    width: 0
    right: 100%
  

@keyframes revealLTR
  0%
    width: 0
    left: 0
  65%
    width: 100%
    left: 0
  100% 
    width: 0
    left: 100%
  

@keyframes textHidden
  0% 
    opacity: 0
  100%
    opacity: 1

body
  color: #333
  font: 100% Lato, Arial, Sans Serif
  // height: 100vh
  margin: 0
  padding: 0
  overflow-x: hidden

#background-wrap
  bottom: 0
  left: 0
  position: fixed
  right: 0
  top: 0
  z-index: -1

/* KEYFRAMES

@-webkit-keyframes animateBubble
  0%
    margin-top: 1000px

  100%
    margin-top: -100%

@-moz-keyframes animateBubble
  0%
    margin-top: 1000px

  100%
    margin-top: -100%

@keyframes animateBubble
  0%
    margin-top: 1000px

  100%
    margin-top: -100%

@-webkit-keyframes sideWays
  0%
    margin-left: 0px

  100%
    margin-left: 50px

@-moz-keyframes sideWays
  0%
    margin-left: 0px

  100%
    margin-left: 50px

@keyframes sideWays
  0%
    margin-left: 0px

  100%
    margin-left: 50px

/* ANIMATIONS

.x1
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate
  -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate
  left: -5%
  top: 5%
  -webkit-transform: scale(0.6)
  -moz-transform: scale(0.6)
  transform: scale(0.6)

.x2
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate
  -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate
  left: 5%
  top: 80%
  -webkit-transform: scale(0.4)
  -moz-transform: scale(0.4)
  transform: scale(0.4)

.x3
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate
  -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate
  left: 10%
  top: 40%
  -webkit-transform: scale(0.7)
  -moz-transform: scale(0.7)
  transform: scale(0.7)

.x4
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate
  left: 20%
  top: 0
  -webkit-transform: scale(0.3)
  -moz-transform: scale(0.3)
  transform: scale(0.3)

.x5
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate
  left: 30%
  top: 50%
  -webkit-transform: scale(0.5)
  -moz-transform: scale(0.5)
  transform: scale(0.5)

.x6
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate
  -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate
  left: 50%
  top: 0
  -webkit-transform: scale(0.8)
  -moz-transform: scale(0.8)
  transform: scale(0.8)

.x7
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate
  -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate
  left: 65%
  top: 70%
  -webkit-transform: scale(0.4)
  -moz-transform: scale(0.4)
  transform: scale(0.4)

.x8
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate
  -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate
  left: 80%
  top: 10%
  -webkit-transform: scale(0.3)
  -moz-transform: scale(0.3)
  transform: scale(0.3)

.x9
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate
  -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate
  left: 90%
  top: 50%
  -webkit-transform: scale(0.6)
  -moz-transform: scale(0.6)
  transform: scale(0.6)

.x10
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate
  -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate
  left: 80%
  top: 80%
  -webkit-transform: scale(0.3)
  -moz-transform: scale(0.3)
  transform: scale(0.3)

/* OBJECTS

.bubble
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1)
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1)
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1)
  height: 200px
  position: absolute
  width: 200px

  &:after
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%)

    /* FF3.6+
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0)))

    /* Chrome,Safari4+
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%)

    /* Chrome10+,Safari5.1+
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%)

    /* Opera 12+
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%)

    /* IE10+
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%)

    /* W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 )

    /* IE6-9 fallback on horizontal gradient

    -webkit-border-radius: 50%
    -moz-border-radius: 50%
    border-radius: 50%
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3)
    -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3)
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3)
    content: ""
    height: 180px
    left: 10px
    position: absolute
    width: 180px

.box
  padding: 60px 0px
  border-width: 30px
  border-color: #000


.box-part
  // background: 
  // border-radius: 100px
  border-width: 30px
  border-color: #000
  padding: 60px 10px
  margin: 30px 0px


.text
  margin: 20px 0px

.fa
  color: #4183D7

.img-undraw
  width: 200px
  height: 155px


h6
  overflow: hidden
  text-align: center

h6:after
  /* this is the border
  content: ""
  display: block
  width: 6em
  max-width: 70%
  border-bottom: 5px solid #be5330
  margin: 25px auto 0  

table
  align: "center"
  width: 100%
  size: 18px

link-price
  color: #A3320C
