.row
  .col-md-offset-1.col-md-10
    .edit-partner-box
      .row
        .large-10.small-11.columns.large-centered.small-centered
          h3
            = "Modifier partenaire"
          = render "form"
