.row
  .col-md-offset-1.col-md-10
    .new-partner-box
      .row
        .large-10.small-11.columns.large-centered.small-centered
          h3
            = "Ajout d'un nouveau partenaire"
          = render "form"
