| BOnjour, #{@user.display_name},
br/
br/

| #{@asker.display_name} a une question pour vous au sujet de votre projet sur #{::Configuration[:company_name]}.
br/
br/
strong Question:
= simple_format(@question)
br/
br/
| Tip: To answer general questions, be sure to check out the #{link_to 'FAQ tool', project_faqs_url(@project)}. Answering common questions here will help users understand your project better and will lessen the need to contact you directly.
br/
br/
| BIen à vous,
br/
| L'équipe #{::Configuration[:company_name]}
