= content_for :title, t('.titre')
.row
  section.panel.callout.radius
    /p This project is awaiting approval. A member of the Neighbor.ly team will be in touch shortly. Meanwhile, you can continue filling in project details by clicking "Edit Campaign" in the sidebar. Your project will remain in draft mode and will only be visible to you.
    p Renseignez les rubriques ci-dessous au sujet de votre projet et validez. Votre campagne n'est visible que par vous pour l'instant. Nous vous contacterons sous 48h ouvrables pour un entretien téléphonique sur votre projet. N'oubliez pas les rewards.
