= content_for :title, t('.titre')
.row
  section.panel.callout.radius
    /p This project is awaiting approval. A member of the Neighbor.ly team will be in touch shortly. Meanwhile, you can continue filling in project details by clicking "Edit Campaign" in the sidebar. Your project will remain in draft mode and will only be visible to you.
    p Complete the sections below about your project and validate. Your campaign is only visible to you right now. We will contact you within 48 hours for a telephone conversation about your project. Do not forget the rewards.
