- @title = "La page que vous avez demandé est introuvable (404)"
.row.error-page
  .large-12.columns
    h3 La page que vous avez demandé est introuvable.
    p 
      | Son emplacement a peut-être changé.
      | &nbsp;
      = link_to 'revenez à la page d’accueil.', root_path


