= content_for :title, t('.titre')
.csr-partners-page.static-page
  .row
    = image_tag 'Comment_Ca_marche_en.jpg', alt: '', title: 'A'  
    .title
       h2 Soignez votre image RSE en devenant partenaire Fiatope
    .text
     h5 Fiatope permet à des initiatives locales de se développer grâce à l'action solidaire de milliers de bonne volonté dans le monde. 
   
     h4 Intérêts pour votre entreprise
     ul
      li Communication interne
      li Communication externe
      li Défiscalisation 

     h4 Communication interne
     ul
      li Fédérer vos équipes autour de projets forts 
      li Intégrer le suivi des projets financés à votre newsletter d'entreprise
      li Proposer à vos employés de s’impliquer avec vous dans les projets financés via notre site de crowdfunding

     h4 Communication externe
     ul
      li Affichage en tant que partenaire sur le site www.fiatope.com
      li Mise en avant de vos actions lors de nos évènements et de conférences
      li Articles dans nos newsletter mensuelle diffusées largement
      li Publications sur nos blogs et sur les réseaux sociaux sous forme d'articles

     h4 Défiscalisation
     ul
      li Déduction fiscale à hauteur de 60 % (dans la limite de 0,5% du CA annuel)
      li Exemple : Don de 10 000 € = 4 000 € après défiscalisation
 
    .title
       h2 Les formules de Parrainage
    .text
     h4 Parrainage Silver
     h5 Parrainer un projet en participant à hauteur d’au moins 5 000 € à la réalisation de ce projet
 
     h4 Parrainage Gold
     h5 Parrainer un projet en participant à hauteur d’au moins 10 000 € à la réalisation de ce projet   

    .title
       h2 Gagnant-Gagnant
    .text
     h5 Vous soutenez des initiatives qui tiennent à coeur à votre entreprise sans y consacrer beaucoup de temps. Fiatope se charge de sélectioner des projets originaux et innovants et vous aide à élargir vore image RSE.
     h5 Grâce à votre apport, nous accélérons le financement d'initiatives prioritaires et stratégiques pour l'émergence des pays du Sud.     
