= content_for :title, t('.titre')
.csr-partners-page.static-page
  .row
    .title
       h3 Soignez votre image RSE en devenant partenaire Fiatope
       = image_tag("panorama_fiatope_ten.jpg", :align=> "center")
    .text
     h5 Fiatope permet à des initiatives locales de se développer grâce à l'action solidaire de milliers de bonnes volontés dans le monde. 
   
     h5 Les intérêts pour votre entreprise d'un partenariat RSE avec Fiatope sont nombreux;

     h4 Communication interne
     ul
      li Communiquez sur votre soutien à l'entrepreunariat social et au financement de nobles causes  
      li Proposer à vos employés de s’impliquer avec l'entreprise dans les projets parrainés

     h4 Communication externe
     ul
      li Affichage de votre logo en tant que partenaire sur le site www.fiatope.com
      li Mise en avant de votre parrainage lors de nos évènements et de conférences
      li Articles dans notre newsletter mensuelle diffusées largement
      li Publications sur nos blogs et sur les réseaux sociaux

     h4 Défiscalisation
     ul
      li Déduction fiscale à hauteur de 60 % (dans la limite de 0,5% du CA annuel)
      li Exemple : Don de 10 000 € = 4 000 € après défiscalisation
 
     h3 Les formules de Parrainage
     h4 Parrainage Silver
     h5 Parrainer un projet en participant à hauteur d’au moins 5 000 € à la réalisation de ce projet
     h4 Parrainage Gold
     h5 Parrainer un projet en participant à hauteur d’au moins 10 000 € à la réalisation de ce projet   

     h3 Gagnant-Gagnant
     h5 Vous soutenez des initiatives qui vous tiennent à coeur sans y consacrer beaucoup de temps. Fiatope se charge de sélectioner des projets originaux et innovants et vous aide à élargir vore image RSE.
     h5 Grâce à votre apport, nous accélérons le financement d'initiatives prioritaires et stratégiques pour l'émergence des pays du Sud.     

     h3 Contactez-nous
     h5 Pour toute demande d'information vous pouvez nous envoyer un mail à [a href='mailto:contact@fiatope.com'] contact@fiatope.com

