= content_for :title, t('.titre')
.idee-page.static-page
  .row
    .title
       h2 le développement du produit
       = image_tag("panorama_fiatope_eleven.jpg", :align=> "center")
    .text
     h5 Votre concept a été testé à très petite échelle (quelques personnes l’ont essayé) et il s’avère convaincant auprès d’utilisateurs et éventuellement d’investisseurs. Deplus vous avez fait valider à minima votre modèle économique. Il faut maintenant passer du concept au produit commercial. 
     br
     h5 Pour cela une phase de développement va suivre. Vous attaquez là une phase cruciale de la vie de votre projet. En effet, les choix de conception produit que vous ferez avec votre équipe seront déterminants pour la suite. Les compétences techniques dont vous allez vous entourez vont devoir être sélectionnées avec beaucoup de minutie et les technologies qui vont constituer la charpente de votre système devront être optées avec le maximum de pertinence.
     br
     h5 Fiatope vous fait profiter de toute l’expertise de ses consultants en la matière et vous recommande les bons outils digitaux pour concevoir le meilleur produit possible
     br     
     = link_to t('.soumettre votre projet'), new_project_path, class: 'button large-4 medium-4 columns large-centered'
