= content_for :title, t('.titre')
.idee-page.static-page
  .row
    .title
       h2 Transformation Digitale
       = image_tag("panorama_fiatope_eleven.jpg", :align=> "center")
    .text
     br
     h5 La transformation digitale des petites et moyennes entreprises, des établissement de santé, des institutions d'enseignement supérieur...et aussi des structures étatiques d'un pays est l'une des clés du développement économique. 
     h5 Dans les pays en voie d'émergence, les PME représentent généralement le gros de l'activité économique et son encore très peu tournées ver le digital.
     
     h4 Les besoins et les freins
     h5 De nombreux freins à l’adoption du digital existent encore sur l’ensemble du continent africain. De nombreuses études de cabinets de consulting mettent en exergue certains facteurs comme étant à l’origine de cette situation. Il s’agit notamment;  
     ul
       li de restrictions budgétaires: en effet les PMEs en Afrique sont bien souvent limitées par leur capacité d’investissement ; 
       li de la méconnaissance de l’apport réel du digital sur leurs activités ;
       li du manque de compétences en TIC

     h4 Les solutions
     h5 Pourtant des solutions existens qui permettent de contourner ces freins et d'adresser les besoins de ces acteurs du développement. C'est le rôle de Fiatope de les identifier pour ses clients. Fiatope apporte ainsi;
     ul
       li la connaissance et la mise en place de solutions on-line gratuites ou à très bas coût, qui permettent de tenir compte des contraintes budgétaires des PMEs africaines
       li la preuve par l'exemple de ce qu'apporte une présence digitale de qualité, l'accès aux services via le mobile, le développement d'un canal de vente ou encore d'une relation clientèle on-line.  
       li la preuve par l'exemple du gain apporté par la transformation des processus internes grâce au outils digitaux  
       li la mise à disposition de compétences spécifiques au moment où la sructure accompagnée en a réellement le besoin.  
    

     br   
     = link_to t('.Nous contacter'), new_message_path, class: 'button large-4 medium-4 columns large-centered'
