= content_for :title, t('.titre')
.how-it-works-page.static-page
  .row
    .title
       h2 How it Works?
       = image_tag("panorama_fiatope_six.jpg", :align=> "center")
    .text
     h5 Fiatope helps you and your community put solidarity to work. Your contributions go straight to the project you’ve chosen in a totally cost-effective and transparent way, so you know that your efforts are rewarded. 
     h5 Whether you’re a contributor or a project initiator, you should find answers to all your questions on this page. 
   
     h4 What sort of initiatives are funded on Fiatope? 
     ul
      li Projects that are ambitious, innovative and viable 
      li Projects in new technologies, health, the environment, energy, culture, and higher education. 
      li These key areas are also the main priorities in developing countries. Fiatope works with a network of partners to ensure that funds are devoted to these priorities. 

     h4 Who can I use Fiatope? How much does it cost to sign up? 
     ul
      li Anyone, regardless of age, citizenship or origin, can sign up on Fiatope to exchange ideas with the community, discover the projects we’re sponsoring and help them grow and thrive. 
      li Sign-up, consultation, and the creation of new projects are entirely free. 

     h4 How can I contribute to a project
     ul
      li You must first be signed up to contribute.
      li After looking through the list of projects, you choose the one you truly want to support and click on "contribute".
      li You then decide how much you wish to contribute and if you agree to pay the transaction fees. If you chose not to cover these fees, they will be deducted from your gift.
      li You complete the procedure by entering your bank card details on the secured web page. The Fiatope platform does not have access to this information, which is encrypted before being sent to our financial partner ___. Our partner deposits the amount in a trust account with BNP Paribas. The partner is a Payment Institution duly authorized by the Bank of France. 
 
     h4 Can I make an anonymous contribution? 
     ul
      li If you wish, you may make anonymous contributions on Fiatope. You simply check the appropriate box on the contributions page and neither your name nor the amount will appear in the list of contributors. 

     h4 How are the funds collected? 
     ul
      li To ensure that the amount requested by entrepreneurs is realistic and best meets their requirements, we limit the collection time and set a minimum amount.
      li Let’s look at an example: John is a young entrepreneur who is ready to launch a web services company. He has drawn up his business case and found that he needs 6000€ to cover the initial outlay for his company. For him and for the people who plan to fund his project, it is more efficient to announce a realistic amount.
      li This way, we try to avoid half-measures and disappointments. If John’s project attracted « only » 4000€, he might not be able to get his start-up off the ground. Thus, projects have a much better chance of succeeding, and contributors are ensured that their gift is used effectively.
      li As a result, only those projects which have reached their funding goal are actually financed.

     h4 What happens if the project I selected does not attain the minimum amount requested?
     ul
      li In this case, your contribution to that project is cancelled and the project initiator does not receive the funds. You are automatically reimbursed in the form of « Fiatope credits ».
      li Your contribution can then be used for another project.

     h4 If the project I chose to support is cancelled, can I be reimbursed on my bank card?
     ul
      li No, your contribution will take the form of Fiatope credits which can be used for any other project you choose on the site.

     h4 Setting up a project
     ul
      li No matter where you live, if you have an original idea for a project in a developing country, don’t hesitate to submit it to Fiatope! In just three clicks, you can set it up on our site. Once Fiatope has checked that your project meets our criteria in terms of eligibility and viability, it will be approved. You will receive an e-mail and your project will join the category of « Fiatope’s upcoming projects ».
      li Carefully consider your communication strategy. Please note that donators may not know you personally but may be interested in your project. You will be trying to convince any visitor to www.fiatope.com that your project is worth funding.
      li Once your campaign appears ready, we publish it online. You can then inform everyone in your own network that it is ready for contributions. Fiatope will be the project’s showcase on the web.

     h4 Presenting the project
     ul
      li When you submit your project, you must provide a certain number of mandatory elements: title, category, target amount, duration, objective, etc.
      li Once the fundraising campaign has been submitted, and while it is still under validation by the Fiatope team, continue to enrich the project description by adding photos and/or a video. You can describe in greater detail how the funds will actually be used. If applicable, you can also present your rewards system.

     h4 What projects are eligible?
     ul
      li Fiatope looks for projects that will make a difference in areas such as higher education, health, socio-economic development, environmental protection, cultural reach, solidarity, or benefitting the community at large.
      li We are unable to accept
      ul   
       li Incomplete projects, i.e., those lacking initiator presentation, budget details, final use of the resources received, etc.
       li Projects whose language or objectives include elements which can be construed as racist, violent, injurious, defamatory, revisionist, or promoting war crimes, pedophilia, or inciting murder or suicide, discrimination or hatred
       li Projects affecting the physical integrity of the initiator or any contributors
       li Projects which make unauthorized use of any protected Intellectual Property
       li Projects aimed at financing religious organizations or sects

     h4 How does Fiatope help project initiators?
     ul
      li We try to optimize projects’ chances for success by advising initiators on how to prepare an attractive project description, and how best to use the Fiatope site.
      li Throughout the lifetime of the project, we are always available to answer any question you may have.

     h4 Setting the project’s fundraising target
     ul
      li First off, the more you request, the harder it is to reach your fundraising goal. It requires a significant investment in presenting and promoting the project.
      li You should therefore be realistic about the amount you hope to raise.
      li Fiatope operates on the “all or nothing” principle. You may receive more that the amount you aimed for, but never less! It is better to determine a minimum budget and focus on your campaign to raise more, rather than go for an all-encompassing objective from the beginning and risk falling short.

     h4 Tell your network about your project
     ul
      li If you’re raising funds for an event, send e-mails to all the people involved
      li If you’re setting up a project, your family, friends, colleagues and social network are your key support groups! Use Fiatope to post the information on your facebook wall or send a tweet. You can also send emails with a link toward the project.
      li Throughout your campaign, you should continue to enrich your communications and stay in touch with your contributors.

     h4 Fiatope’s commission
     ul
      li Ulule receives a commission only on the amounts collected for projects which have reached their fundraising goal. If a project falls short of its goal, there is no commission.
      li The commission charged depends on the amount of collected funds and on the payment method used by the contributors. It is determined as follows:
      ul
       li from 0 to 100 000 Euros -> 6,5%
       li more than 100 000 Euros -> 6%

     h4 Can I cancel a project?
     ul
      li A project can be canceled by the initiator at any time before expiration. He/she cannot receive the collected funds. All of the people who made contributions will receive an e-mail notifying them of the cancellation and they will automatically be reimbursed in Fiatope credits which they can use to support another project.

     h4 How do I receive the funds?
     ul
      li For an event fund, you can receive the money at any time you wish. As event planner, you make a request for payment on the Fiatope site.
      li For a project, once the display period has expired, and if the fundraising goal has been reached, you can request payment on the Fiatope site. The funds are deposited on the bank account you provided in your application.
      li Fiatope projects are funded on the basis of “all or nothing”. If your fundraising goal has not been reached by the end of the display period, you cannot receive the funds. All of the contributors will automatically be reimbursed in Fiatope credits which they can use to support another project. Please read the Terms and Conditions attentively.
      li To receive the funds, you must first have provided:
      ul
       li Individuals: the scanned copy of your ID and your bank account details
       li Associations (not-for-profits): a scan of the declaration made to the Prefecture (or other local authority), an ID of the president, and the association’s bank account details
       li Companies: the scan of the registration which is legally recognized in the country, the ID of the legal representative of the company, and the company’s bank account details
       li If the beneficiary is not the project initiator, ensure that you provided the correct bank account details when you set up the project with Fiatope. You will have to send a scan of your own ID and that of the beneficiary.
      li The funds will be deposited on the account within 72 hours of your request.
      li The account to be used for collecting the funds must be within a bank in any of the 28 member countries of the European Economic Area or in one of the following countries: Switzerland, Lichtenstein, Norway, or Iceland.

     h4 Declaration of funds collected and VAT


     h4 Promoting your project
     ul
      li A successful fundraising campaign requires a significant investment in communications and promotion. We will give you valuable advice and recommendations when you start to launch your fundraising.
      li Be precise and clear in presenting your project (objectives, multimedia illustrations, budget and use of the fiunds...)
      li Throughout your campaign, Fiatope will give you tips to maximize the funds collected.
      li We are drafting a .pdf document which will give you more information on how to optimize the promotion of your campaign.

     h4 Can I change information about my event fund?
     ul
      li Yes, as event planner, you can change the information at any time (title, target amount, end date and options).

     h4 Can I change information about my project?
     ul
      li No, once your project has been approved and published on the site, you cannot change the main elements.
      li The project title, target amount, and end date cannot be modified. It is therefore essential to take the time to fill out these element with utmost care.

     h4 How do I access my profile?
     ul
      li Fill out all the fields with the required information (address, telephone numbers...). We are thus able to improve our own services to you if we know you better. Fiatope is duly declared with the French Authority on Data Protection (CNIL); your personal data are therefore stored in total security.
      li You have access to all the projects and event funds you have initiated. You also have a tab showing the projects for which you are a contributor. Another tab shows your Fiatope network. Your network includes all the Fiatopers who have contributed to the same projects as you.
      li You can also access your Fiatope credits, your payment information, and the password management page.
      li Lastly, you can give your preferences on how you wish to communicate with Fiatope.

