= content_for :title, t('.titre')
.idee-page.static-page
  .row
    .title
       h2 de l'idée à la preuve de concept
       = image_tag("panorama_fiatope_eleven.jpg", :align=> "center")
    .text
     h5 Si l'idée est à la base de toute projet entrepreneurial, encore faut-il s'assurer de sa viabilité, c'eat-à-dire de la capacité à construire un modèele économique solide à partir de l'idée. Fiatope vous accompagne à identifier le bon outil en fonction de l'état de maturation de votr eidée et travaille avec vous sur comment l'utiliser

     h5 Bien des fois avant de se jeter à l’eau, et de dépenser une fortune pour développer et lancer son idée ou projet, il est crucial de s’assurer au préalable que le concept sous-jacent va rencontrer l’intérêt des clients. Pour cela, rien de mieux que de tester le concept auprès d’un panel réduit de potentiels clients. Cela s’appelle une « preuve de concept ». Les futurs clients comprendront-ils le service ? Est-il facile et pratique à utiliser ? Telles sont quelques unes des questions que l’entrepreneur doit se poser. 
     br
     h5 IL va de soi que toutes les idées ne peuvent pas être testées à petite échelle. Cependant chaque fois que cela est possible il est primordial de commencer par une preuve de concept.
     br
     h5 Beaucoup de personnes qui souhaitent entreprendre s’arrêtent malheureusement à l’idée, faute d’avoir la possibilité de réaliser une telle preuve réelle de leur idée, ou faute de savoir que cela est possible moyennant peu de moyens financiers.
     br
     h5 Pourtant il existe aujourd’hui de nombreux moyens, exploitant les technologies Open Source notamment, pour réaliser une preuve de concept ou développer son idée d’abord à petite échelle.
     br 
     h5 Fiatope analyse avec vous et en fonction de l’idée à mettre en œuvre, la meilleure approche pour tester votre concept et valider sa pertinence grâce aux technologies digitales. 
     br
     h5 Enfin cette étape est le meilleur moment pour réfléchir à votre modèle économique et le valider 
     br   
     = link_to t('.soumettre votre projet'), new_project_path, class: 'button large-4 medium-4 columns large-centered'
