= content_for :title, t('.titre')
.idee-page.static-page
  .row
    .title
       h2 le lancement du service
       = image_tag("panorama_fiatope_eleven.jpg", :align=> "center")
    .text
     h5 Attention, ce n’est pas parce que le développement est terminé que vous pouvez lancer. Un nombre surprenant d’actions intermédiaires vous attendent. IL convient de les mener avec la plus grande minutie et une fois de plus en utilisant les outils digitaux adéquats.
     br
     h5 Après avoir enregistré juridiquement votre activité, vous allez devoir trouver un nom de marque (si ceci n'a pas été fait en amont), réserver le nom de domaine pour votre présence sur internet et votre messagerie, protéger votre concept  le cas échéant, faire une déclaration à la CNIL, vous préparer à investir les réseaux sociaux, trouver un hébergement de vos services dans le mesure où ceux-ci sont réalisés en ligne...
     br
     h5 Avec Fiatope, vous vous assurez de mener à bien ces jalons grâce à la pratique que nous avons développée, du lancement de nos propres projets.
     br
     = link_to t('.soumettre votre projet'), new_project_path, class: 'button large-4 medium-4 columns large-centered'
