= content_for :title, t('.titre')
.idee-page.static-page
  .row
    .title
       h2 Management
       = image_tag("panorama_fiatope_eleven.jpg", :align=> "center")
    .text
     br
     h5 Nous avons une offre qui grandit tous les jours. Elle est auojourd'hui articulée autour de 2 modules;
     h4 Module 1: "Les 30 essentiels du Manager"
     h4 Module 2: "Se développer facilement"
     br
     h5 Ces modules n'ont pas vocation à être enseignés. Nos intervenants partent en règle générale d'une situation vécue et emmènent les participants à se poser les bonnes questions en face de situations similaires. Ainsi ces derniers sont mieux sensisbilisés à la problématique que si il devait leur être dispensé un simple récital de formules  pré-faites qui auraient le risque de ne pas convenir à leur situation individuelle.
     br
     br
     h4 Les 30 essentiels du Manager
     h5 Mesurer l’atmosphère sociale et agir
     h5 Gérer la motivation
     h5 Le recadrage
     h5 L’entretien individuel/de bilan/annuel
     h5 Le teambuilding
     h5 L’animation et la programmation de l’activité
     h5 Donner du sens et expliquer les décisions de l’entreprise
     h5 Se benchmarker
     h5 Le lien managérial
     h5 Argumenter pour recruter
     h5 Le recrutement
     h5 Accueillir un collaborateur
     h5 La réunion d’équipe
     h5 Partager les résultats de l’équipe avec les collaborateurs
     H5 Communiquer sur les objectifs stratégiques de l’entité
     h5 S’arrêter de travailler et lever la tête : séminaire stratégique
     h5 Gérer les compétences
     h5 La gestion de la rémunération
     h5 Gérer les talents et experts
     h5 L’évolution professionnelle des collaborateurs
     h5 identifier son style de Management
     h5 Le Management multi-culturel
     h5 Le Check à 360°
     h5 Développer ses collaborateurs
     h5 Management et culture/politique d’entreprise
     h5 Donner sa confiance
     h5 protéger ses troupes
     h5 Rendre compte à son N+1
     h5 Travailler en transverse (RH, Contrôle de Gestion, Direction de Programme)
     br

     br   
     = link_to t('.Nous contacter'), new_message_path, class: 'button large-4 medium-4 columns large-centered'
