= content_for :title, t('.titre')
.csr-partners-maeci-page.static-page
  .row
    br
    .title
       h3 FIATOPE conclut un accord un partenariat RSE avec MAECI
       = image_tag("maeci.jpg", :align=> "center")
    .text
     h5
       |Fiatope a le plaisir de vous annoncer la conclusion d’un partenariat de collaboration avec
       a href ="http://www.maeci.org" MAECI
       |, une entreprise américaine de conseil en développement économique. MAECI intervient auprès d’acteurs du secteurs privé et parapublic en Afrique comme expert en conduite de projet d’envergure, en analyse stratégique et de viabilité, de même qu’en développement d’affaires.

     h5 En effet, dans le cadre du développement de ses activités de responsabalité sociale d'entreprise, MAECI a souhaité travailler avec Fiatope pour agir auprès de communautés rurales notamment au Cameroun, cible des action de MAECI. 

     h5 Ce partenariat permettra à Fiatope d'être accompagné par MAECI pour financer les actions de la Fondation Sinkam Charles(FOSIC), qui oeuvre au développement de localités villageoises (Ouest du Cameroun) dans plusieurs domaines prioritaires comme l’éducation, la santé et les travaux de voirie urbaine.
 
     h5 Avec cet accord de collaboration, Fiatope concrétise son ambition d’apporter des solutions pour le développement d’une éducation et d’une santé de qualité en Afrique.

     br
     h5 L’équipe Fiatope

