= content_for :title, t('.titre')
.csr-partners-page.static-page
  .row
    = image_tag 'Comment_Ca_marche_en.jpg', alt: '', title: 'A'  
    .title
       h2 Boost funding for projects you support by partnering with Fiatope
    .text
     h5 Fiatope enables local and entrepreneurial initiatives to develop thanks to the solidarity of thousands of goodwill in the world.
     h4 Interests for your organization 
     ul
      li Bring the projects you accompany to a high visibility platform
      li Find for the projest you are accompanying, sources of funding that you have not yet explored

     h4 Put your projects on a platform with increasing visibility
     ul
      li Your projects are online on www.fiatope.com and benefit from exposure to a patron base that grows every day.
      li You have a space dedicated to your organization on www.fiatope.com.
      li You can also broadcast as widely as you want the link of your campaign on Fiatope.

     h4 Find sources of funding you have not yet explored
     ul
      li Participational financing (crowdfunding) consists in financing a project not by traditional actors (banks, funds, etc.) but by a large number of anonymous persons, who contribute according to their wishes.  li Ce mode financier est un des maillons essentiels de l\u2019économie solidaire. Son fort développement actuel va permettre une alternative sérieuse au financement de l\u2019économie mondiale. En 2013, plus de 5 Milliards de Dollars sont consacrés à cette nouvelle forme de financement. Par conséquent, le financement participatif est clairement source d\u2019espoir pour l\u2019émergence d'initiatives dans les pays du Sud.
      li Participational financing (crowdfunding) consists in financing a project not by traditional actors (banks, funds, etc.) but by a large number of anonymous persons, who contribute according to their wishes.
 
    .title
       h2 Types of Partnership
    .text
     h4 Thematic Partnership
     h5 We work together in one or more areas of activity.
 
     h4 Regional Partnership
     h5 We work together in one or more anglophone or fracophone regions or countries of Africa.
    .title
       h2 Winner-Winner
    .text
     h5 You accelerate the financing of your projects and start-ups. We also assist you in presenting your project online and help you promote it.
	 h5We benefit from your footprint and perimeter of action, as well as your experience in supporting the development and implementation of noble local emergencies initiatives.
