= content_for :title, t('.titre')
.csr-partners-page.static-page
  .row
    br
    .title
       h3 FIATOPE s'associe à OSER l'Afrique
       = image_tag("oser_banniere.png", :align=> "center")
    .text
     h5 
       |Fiatope a le plaisir de vous annoncer la conclusion d’un partenariat stratégique avec 
       a href ="http://www.oserlafrique.com" OSER l’AFRIQUE
       |, un collectif né de la volonté d’affirmer la détermination de la jeunesse africaine à prendre part de manière active à lʼeffort de développement du continent africain. Il s’agit d’une initiative par la jeunesse africaine et pour la jeunesse africaine.
     h5 En effet, dans le cadre du développement de leurs activités respectives, Fiatope et O.S.E.R. l’Afrique ont décidé de mettre en commun leurs compétences pour accompagner des porteurs de projets vers le continent Africain. Un rapprochement que les Présidents des deux parties ont accepté de formaliser à travers la signature de cette convention de partenariat.
     h5 Nous pensons qu’il est précieux pour les porteurs de projets qui nous font confiance pour leur campagne de financement participatif, de profiter de l’accompagnement entrepreneurial d’un collectif reconnu, et ce en amont puis en aval du déroulement de leur levée de fonds.

     =image_tag("oser.jpg", :align=> "center") 
     br

     h4 OSER l'Afrique poursuit les objectifs suivants
     ul 
      li Stimuler auprès de la jeunesse africaine le sens de l’engagement et du devoir d’exemplarité afin d’impulser le changement tant attendu.
      li Développer les capacités de leadership et d’innovation de la jeunesse africaine à travers les Clusters.
      li Assurer auprès des gouvernements, organisations et institutions mondiales la prise en compte des intérêts de la jeunesse africaine dans la définition des politiques économiques et sociales.
      li Créer un espace permanent d’échanges entre la jeunesse africaine (jeunes de la diaspora et jeunes du continent), la jeunesse du monde et divers acteurs politiques, économiques et culturels.

     h4 Quelques réalisations d'OSER l'Afrique
     h5 Comme actions concrètes, OSER l’Afrique a entre autres, organisé sur les 2 dernières années, de nombreux ateliers (clusters) de formation et d’échange sur l’entrepreneuriat. Ces séminaires ont eu lieu au Cameroun et Sénégal (2013), Niger (2014), Togo (Décembre 2015).  
     h5 Ce dernier évènement au Togo, qui s’est tenu durant la COP 21 en partenariat avec le Fondation Africa France et Land of Africa Business avait pour thème “Entreprendre dans le Greenbusiness, nouveaux défis de la jeunesse africaine“.
     =image_tag("oser_cluster_lome.jpg")
  
     h4 Ensembles pour accélérer l’entrepreneuriat sur le Continent
     h5 Avec ce partenariat, Fiatope concrétise son ambition d’élargir son offre de soutien aux porteurs de projets au-delà des phases de constitution de fonds de démarrage. Fiatope et OSER l’Afrique associent en effet leurs dispositifs pour permettre à vous entrepreneurs de demain vers l’Afrique, de conjuguer au même moment développement entrepreneurial et financier.


     h5 En cas de besoin d’accompagnement ou d’informations supplémentaires, les équipes de la Fiatope et d’O.S.E.R l’Afrique se tiennent à votre disposition.

     br
     h5 L’équipe Fiatope

