= content_for :title, t('.titre')

#about-page
  .row
    h3.page-headline
      | Notre tarification est simple et transparente
    = image_tag("panorama_fiatope_height.jpg", :align=> "center")
    br
    br 
    h5  
      | Fiatope est une organisation dont l'objectif n'es pas l'enrichissement de ses membres mais plutôt la réalisation d'une utopie sociétale                                                 
      | Pour opérer nos activités, nous avons besoin de financement mais ausis et surtout de revenus
      | Nous tirons la plupart de nos revenus d'activités de services dérivés du financement participatif    
  .row

    h4 Financement participatif
    h5 La création d'un projet est <strong>gratuite</strong>.
    h5 Nous retenons une commission de <strong>7%</strong> sur les fonds collectés en cas de réussite de la campagne (objectif atteint ou dépassé). 
    h5 La commission couvre les frais liés à la gestion de la plateforme, au cantonnement sécurisé des fonds collectés et à l'accompagnement pour la réalisation du projet par nous ou un de nos partenaires
    h5 Ces frais de cantonnement représentent 1,8% de la collecte et sont versés à Mangopay
    br   
    h4 Accompagnement digital
    h5 Pour les entrepreneurs individuels Cette prestation <strong>n'est pas soumise à rémunération</strong>
    h5 En revanche nous demandons aux entrepreneurs accompagnés de s'engager sur deux choses;
    h5 Pour les incubateurs, ONG d'accompagnement et autres acteurs, la prestattion est soumise à rémunération. Les conditions seront à préciser avec les bénéficiaires. 
    ul
     li Parlez de Fiatope autour d'eux et augmenter la base de fan facebook d'au moins 50 personnes
     li Lancer avant le début de l'accompagnement une cagnotte kwendoo qui implique au moins 20 personnes et qui abouti à une collecte d'au moins 500 Euros avant la fin de l'acompagnement 
  
    h4 Site de financement participatif en marque blanche
    h5 le tarif mensuel est de <strong>49 Euros</strong> auxquels s'ajoutent pour chaque campagne réussie, 4% de commission sur les fonds collectés 
    h5 les 49 Euros de commission couvrent les frais de certificat web de sécurité et les frais de gestion de la plateforme
    br  
    h4 Cagnotte en ligne
    h5 La création d'une cagnotte est <strong>gratuite</strong>.
    h5 Nous retenons une commission de <strong>3,3%</strong> sur les fonds collectés.
    h5 La commission couvre les frais liés à la gestion de la plateforme et au cantonnement sécurisé des fonds de la cagnotte. Ces frais de cantonnement représentent 1,8% de la collecte et sont versés à Mangopay
  
  .row



