= content_for :title, "Price"

#about-page
  .row
    h2.page-headline
      | How much does it cost?
    = image_tag("panorama_fiatope_height.jpg", :align=> "center") 

      |                                                    
  .row
     .page-headline

  .creation
    .row
      h4
        p It costs nothing to create a project on Fiatope, nor to contribute.
      h4
        p If your fundraising goal is attained or exceeded, we apply a 6,5% commission on the amount received.
        p This commission helps cover the cost of collecting and securing the funds, ensuring that they reach the right person, as well as on-the-ground support by one of our partners for the roll-out of the project.  
      h4
        p Example
        ol
          li The project « construction of a micro clinic in Bokin, Burkina Faso », initiated by a French association for international aid, attracted a total of 13,000 Euros. It was financed by 44 contributors.
          li The association will receive (100%-6,5%) x 13,000 € = 12,155 €.
  .row

