= content_for :title, t('.title')

- if request.xhr?
  a.close-reveal-modal ×

.privacy-page.static-page
  .row
    .title
      h2 Mentions légales
      = image_tag("panorama_fiatope_twelve.jpg", :align=> "center")
    .text 
      p La plateforme Fiatope est éditée par une Association loi 1901 ayant son siège au 110 rue Pierre Brossolette, Chatillon, et dont le décret de création a été publié au Journal Officiel. Fiatope est enregistré au registre des associations 
      p La platforme Fiatope recoit les contributions et cantonne les collectes des projets via Mangopay, intermédiaire de paiement agréé par la Banque de France et l'Union Européenne.  
      p Le site internet www.fiatope.com a fait l'objet d'une déclaration à la CNIL, conformément à la Loi N78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. La déclaration Fiatope a été enregistrée au numéro  1791545v0
      p Le site est hébergé par Heroku, acteur majeur de l'hébergement d'applications Web
  .row
    .title
      h2 Politique de confidentialité de Fiatope
      h4 Fiatope respecte et sécurise vos données privées et traite avec soins les questions de confidentialité
    .text
      p Cette politique de confidentialité s’applique à l’ensemble des services accessibles sur le site www.fiatope.com. Elle est sujette à des changements liés aux évolutions technologiques de plus en plus rapides
      p Données Anonymes: Il est possible que Fiatope stocke des informations anonymes (qui ne vous identifient pas personnellement) mais qui pourraient être utiles à l’amélioration des services que nous offrons. En général, il s’agit de cookies, d’adresses IP ou d’autres codes numériques servant par exemple à identifier un ordinateur.
      p Cookies: Comme il est de pratique courante, il arrive que Fiatope utilise des cookies pour vous reconnaître et faciliter votre accès de même que pour réaliser des statistiques d’usage. Vous pouvez toujours configurer votre navigateur web de manière à refuser les cookies ou vous prévenir lorsqu’un site essaie de vous envoyer un cookie.
      p Adresses IP: l’addresse IP est l’identifiant unique de votre ordinateur sur Internet ou sur le réseau local à partir duquel vous vous connectez. Fiatope enregistre votre adresse IP essentiellement pour des besoins d’administration de la plateforme et pour des besoins de correction de bugs. Fiatope peut également utiliser les adresses pour savoir comment ses clients se déplacent afin d’optimiser la structure du site son contenu et son accès. 
      p Sites Web partenaires: Fiatope s’efforce de limiter ses interactions à des sites qui respectent la confidentialité de nos clients. Tous. Cependant, Fiatope n’est pas responsable du contenu ni de la politique de confidentialité mise en œuvre par ces sites partenaires avec lesquelles des connections sont réalisées dans le cadre de la fourniture du service.
      p Enregistrement: Fiatope autorise ses utilisateurs à s’enregistrer Lors de l’inscription, nous sommes susceptibles de vous demander  des informations personnelles comme votre nom complet, votre addresse, votre e-mail, votre numéro de téléphone ou toute information de contact pertinente. Lorsque vous visitez le site, nous gardons trace de votre connexion, de votre navigation sur le site et d’autres informations qui permettraient d’améliorer le service. Nous utilisons entre-autres l’adresse IP comme méthode d’identification. IL arrive pour les besoins des projets que votre CV soit chargé sur le site. Les informatiosn personnelles collectés de ce type de dcument seront utilisées exclusivement pour les besoins du financement de votre initiative ou projet.
      p Il arrive que Fiatope envoie des e-mails à ses utilisateurs. Nous vous contactons pour des raisons aussi variées que la confirmation d’insciption, les informations sur votre compte, vos projets, vos contributions. Sous demandede votre part, Fiatope vous enlèvera vous et vos données de notre base de données. Par conséquent, votre inscription s’en trouvera annulée. Fiatope corrigera également à votre demande, toute information erronée sur vous.
      p Sécurité des données: Fiatope ne dévoile pas les procédures utilisées pour protéger les informations que nous collectons en ligne. Il faut toujours avoir à l’esprit qu’aucun système n’est complétement à l’abri d’un problème de sécurité. Vous devez toujours être vigilants lorsque vous communiquez des information sur Internet 

