= content_for :title, t('.title')

- if request.xhr?
  a.close-reveal-modal ×

.privacy-page.static-page
  .row
    .title
      h2 Legal Notice
      = image_tag("panorama_fiatope_twelve.jpg", :align=> "center")
    .text
      p www.fiatope.com is owned by a french "Loi 1901" association domicialted at 110 rue Pierre Brossolette, Chatillon, France and which order of creation has been published inside the "Journal Officiel" in France and stored into the National Association Registry  
      p The platforme is entitled to receive contributions thanx to its contract with Mangopay (a financial intermediary) which escrow the funds from projects and order payments the project owners and beneficiaries. Mangopay has agrement from the European Union top operate its financial services.
      p wwww.fiatope.com has been declared to the CNIL (Commission Nationale Informatique et Libertés) in France under the number 1791545v0. The CNIL is the french authority entitled to monitor the use of private data. 
      p The web site is hosted by www.heroku.comLe site est hébergé par Heroku.com

  .row
    .title
      h2 fiatope Privacy Policy
      h4 fiatope respects your privacy and takes identity matters seriously.
    .text
      p fiatope upholds this privacy policy throughout the entire web application located at this domain. This policy has been developed with the recognition that Internet technologies are rapidly evolving. Accordingly, this policy is subject to change without notice.
      p fiatope encourages users of its Website to review the privacy policies of any other sites accessed by those users. Below is information on what information may be gathered through the fiatope Website.
      p Anonymous Information: fiatope may gather anonymous information which does not personally identify you, but which may be helpful for improving the services it offers. Generally this information is collected through "traffic data" and may entail the use of "cookies," "IP addresses," or other numeric codes used to identify a computer.
      p Cookies: As is common practice, fiatope may employ cookies to recognize you and your access privileges on certain sites as well as to track site usage. Cookies allow the fiatope server to recognize you when you visit our Website in the future. You may be able to configure your web browser to not accept cookies or to notify you when a Website is attempting to send you a cookie.
      p IP Addresses: The IP address uniquely identifies computers on the Internet. fiatope logs IP addresses primarily for systems administration and troubleshooting purposes. fiatope may also use IP addresses to better understand how visitors travel to and through the fiatope Website to help improve Website structure, flow and content, among other purposes.
      p Third party websites: fiatope makes every effort to link to and interact only with websites that respect customer and visitor information privacy. However, fiatope is not responsible for the content or the privacy policies of Websites to which it may link to, or interact with via programmatic connections.
      p Registration: The fiatope Website may allow registration. When you register to receive services from the fiatope Website or fill out a form to interact with fiatope, we may require that you supply personal information such as your full name, street address, e-mail address, unique subscriber ID, telephone number and other relevant contact information. When you visit the fiatope Website, we will track your site usage, including the pages you visit and other information that may help the fiatope improve service to you. The method we use of tracking the pages you visit is your IP address or similar or related technologies. The fiatope Website may allow for online resume submission. Personal information collected from resumes will be used solely for the purpose of accepting and evaluating employee applicant submissions. This information may be shared within fiatope or appropriate affiliates regarding employment evaluation.
      p Using the e-mail addresses provided at registration, fiatope may choose to periodically send e-mails to its Website users. fiatope may contact you regarding account status, for business purposes, and to confirm registration. Upon request, fiatope will (a) remove you and your personal information from our database, thereby canceling your registration; and (b) correct personal information that you state is erroneous. Please be sure to include in your request the name of the site at which you registered and the e-mail address you used to register so that we can verify your request.
      p Data Security: fiatope upholds procedures designed to protect the information we collect online. Keep in mind that no security system is foolproof; therefore, you should exercise care and good judgment when transmitting data over the internet or filling out forms for any website.
