= content_for :title, t('.titre')
.how-it-works-page.static-page
  .row
    .title
       h3 Le processus de sélection des projets Fiatope
       = image_tag("panorama_fiatope_thirteen.jpg", :align=> "center")      
    .text
     h5 Les projets sur Fiatope sont sélectionnés en deux étapes  
   
     h4 Premier niveau de sélection
     ul
      li Vous nous <a href='/projects/new'> soumettez</a> dans un premier temps un abstract de votre projet que nous approuvons assez rapidement (24h). Il s’agit de valider uniquement le scope du projet à ce stade. Nous recevons beaucoup de projets et devons absolument filtrer ceux des projets qui ne correspondent pas au périmètre Fiatope, avant que les porteurs passent plus de temps à les décrire.

      li Une fois reçu le mail d’approbation, vous complétez la description détaillée de votre projet dans la page de modification projet qui vous est communiquée dans l’email. A ce stade, une fois complétée la description, nous mettons le projet dans un dossier des projets à valider. La réponse interviendra sous 5 jours ouvrables maximum.

     h4 Deuxième niveau de sélection
     h5 Nous soumettons donc hebdomadairement les projets approuvés à un jury tournant composés d’<a href='/ambassadeurs'> Ambassadeurs </a> Fiatope. Ils sélectionnent les projets suivant 5 critères;
     ul
      li La fidélité de l’esprit du projet à la charte des valeurs fiatope
      li La capacité à avoir un impact sur un ou plusieurs des thèmes prioritaires de Fiatope et à contribuer significativement au développement économique de la région visée
      li L’expertise de l’équipe projet dans le domaine d’action
      Li Les références précédentes et le sérieux de l’équipe projet ou de la structure qui abrite le projet
      Li La viabilité du projet et de son business model

