= content_for :title, t('.titre')
.succesful-page.static-page
  .row
    .title
       h3 Réussir votre campagne sur Fiatope
       = image_tag("panorama_fiatope_two.jpg", :align=> "center")
    .text
     h5 Une fois le projet sélectionné, nous accompagnos le porteur de projet vers la réussite de sa campagne de financement participatif.  
     h3 Les informations clés sur votre campagne
     h4 La description de votre projet en quelques mots 
     h6 Ce texte doit comporter 140 caractères maximum. C’est la première chose que les internautes liront (texte sur la vignette). Soyez donc clair, percutant et appelez à soutenir votre projet! Sachez que 50% des internautes ne liront que ce texte.

     h4 L'objectif financier à atteindre
     h6 Avant de fixer votre objectif, ayez à l'esprit que nous fonctionnons avec la règle du tout ou rien. Si vous atteignez ou si vous dépassez votre objectif, vous récupérerez les résultats de la collecte. Par contre, si vous n'atteignez pas l'objectif, vos contributeurs seront automatiquement remboursés. Par conséquent, la clé de cette aventure est de bien fixer l'objectif financier à atteindre.
     h6 Pour fixer cet objectif, listez et chiffrez les différentes dépenses liées à votre projet. Soyez précis, transparent et surtout arrêtez vous au minimum vital. N'oubliez pas que la règle vous autorise toujours à dépasser le montant fixé. Ensuite, regardez si votre réseau moblisable peut vous permettre d'atteindre cet objectif. Si ce n'est pas le cas, ré-ajustez le tout en restant cohérent avec ce que vous souhaitez réaliser.    
     h6 La contribution moyenne sur www.fiatope.com étant de 51 Euros, si vous souhaitez lever 5000 Euros, il vous faudra environ une centaine de contributeurs.
     h6 Prenez vraiment le temps de la réflexion pour déterminer votre objectif. Une fois votre projet en ligne, vous ne pourrez modifier ni le montant ni la durée de votre collecte. 
     
     h4 La durée de la levée de fonds
     h6 Pendant votre campagne, vous allez devoir fédérer une communauté de personnes autour de votre projet pour qu’ils vous soutiennent. Laissez vous le temps d’atteindre votre objectif, mais éviter de faire durer votre collecte trop longtemps, afin qu'elle reste dynamique et rythmée !
     h6 Au delà d'un certain seuil de temps, ce n’est pas parce que votre collecte durera davantage qu’elle aua plus de chance de réussir. Le sentiment de relative urgence vous permettra de stimuler vos contacts.
     h6 En général, les collectes enregistrent des pics d'activité au début et à la fin de celles-ci. La durée d’une collecte sur Fiatope est de 90 jours maximum. Aussi, une fois votre collecte lancée, vous ne pourrez ni modifier le montant ni la durée de la collecte !

     h3 Ce dont vous aurez besoin pour réussir

     h4 De la détermination et de l'engagement
     h6 L'association Finance Participative France a publié des statistiques qui montrent que seulement 52% des campagnes sont réussies. Vous aurez donc besoin de préparer votre campagne mais aussi de faire preuve d'application et de motivation. 
     
     h4 Une bonne présentation détaillée du projet
     h6 C'est la partie qui donne le plus d’informations sur votre projet. Ici, vous devez expliquer la genèse de votre projet, pourquoi il est important, la raison qui vous pousse à faire appel au public, et le déroulement des prochaines étapes (après financement). Vous aurez besoin d'un pei d'art du Storytelling. Beaucoup de contributeurs ont besoin d'avoir une belle histoire pour se lancer.
     h6 Rendez crédible votre projet en donnant un maximum d’information.
     h6 Détaillez également l'utilisation du budget. Ici, les deux règles sont transparence et cohérence. Le total des postes que vous détaillez doit correspondre au montant que vous souhaitez collecter. Solliciter la participation de votre entourage et du public n'est pas anodin. Détaillez très précisemment les postes de dépenses que vous intégrez à votre collecte. Évoquez également ce que vous pourrez réaliser si vous dépassez votre objectif. Encore une fois, soyez très clair et précis dans la rédaction de cette partie.
     
     h4 De belles images
     h6 Une image vaut plus que mille mots. Décidez vos futurs contributeurs avec des images qui captent leur attention. L'image de la vignette, celle qui apparaîtra dans la page "découvrir" doit avoir un beau visuel. C'est en effet la première iamge que verront vos futurs contributeurs. Nous vous reccomandons également d'agrémenter la description de votre projet de plusieurs images pertinentes. Cela permet aussi de faciliter la lecture.
     h6 Sélectionnez vos images avec beaucoup de soins. Elles doivent êre à l'image de l'engagement que vous souhaitez susciter.

     h4 Une vidéo marquante
     h6 Une vidéo est un excellent moyen de présenter votre projet et d'éclairer vos futurs contributeurs sur vos intentions. Sachez que les projets qui n'ont pas de vidéo de présentation attirent moins l'attention. Celle-ci doit rester courte (moins de deux minutes) et frapper l'esprit des internautes.
     h6 La vidéo est l'occasion de mettre votre projet en scène et de lui dnner une vie et une réalité. Présentez votre projet en précisant pourquoi vous organisez une collecte pour le financer.
     h6 Soyez naturel et n'hésitez pas à être fun ! Expliquez à vos futurs contributeurs quelle chance ils ont de partager avec vous la naissance de votre projet. La vidéo doit montrer votre enthousiasme et votre ambition.

     h4 Des rewards attrayants
     h6 Motivez vos contributeurs en leur offrant des rewards. Il ne s'agit évidemment pas de rémunérer vos contributeurs, mais de récompenser leur envie de vous aider.  
     h6 Exemple: Vous êtes une association qui effectue une collecte pour financer la construction d'un institut culturel au Burkina. Votre système de reward peut intégrer une adhésion d'un an à votre associaiton, l'inscription à votre newsletter ou encore, l'inscription de leur nom sur une stelle qui sera apposée à l'entrée du bâtiment à construire.
     h6 Mettez plusiurs paliers de reward en fonction du niveau des contributions. Vous pouvez aussi n'avoir qu'un seul niveau de reward.
     h6 Il est important de trouver le juste équilibre entre le coût de vos rewards et la valeur percue par vos contributeurs.     
     h6 rewards interdits:
   
     h4 Un engagement continuel
     h6 Restez connectés avec vos soutiens au cours de la campagne. Ceux qui vous ont soutenu vous aideront à engager de nouvelles contributions.
     h6 Informez vos contributeurs de l'évolution de la réalisation du projet. C'est le premier reward que vous devez leur donner.

     h4 Une présentation avantageuse de vous-même (votre bio)
     h6 En fin de page, présentez-vous. Le public anonyme a besoin de savoir qui se cache derrière une telle ambition et d'en savoir plus sur vous.  
