= content_for :title, t('.titre')
.succesful-page.static-page
  .row
    .title
       h2 Build a successful campaign
       = image_tag 'Comment_Ca_marche_en.jpg', alt: '', title: 'A'
    .text
     h3 What you need to provide:
     h4 A brief overview of your project
     h6 This description, under 140 words, is the first thing that cybernauts will see (text on thumbnail). Do your best to be clear, concise, and persuasive. Be aware that 50% of our site visitors will only read this introduction.

     h4 Fundraising goal
     h6 Before setting your fundraising goal, remember that our policy is “all or nothing”. You will receive the funds only if you reach or exceed the amount you aimed for. On the other hand, if you fall short of your goal, your contributors are automatically reimbursed. It Is thus critical to evaluate the amount you really need.
     h6 To determine your objective, list all of your project expenses. Be precise and transparent, and do not go beyond an absolute minimum required. Remember that you are allowed to receive more than your initial fundraising goal.
     h6 An average contribution on Fiatope is 51 €. Once you have set your fundraising goal, you will be able to see how many contributors you need to mobilize.
     h6 Take your time to set your goal. Once your project is online, you will not be able to change the amount nor duration of your campaign.

     h4 Campaign duration
     h6 Your campaign is aimed at building up a community of people motivated by your project, and convincing them to donate. Leave yourself enough time to set the momentum but don’t let the campaign draw on too long, otherwise you’ll lose the dynamics and appeal.
     h6 Just because a campaign is visible longer doesn’t increase its chances for success. A sense of urgency often helps trigger your contacts’ actions.
     h6 Generally, we’ve observed that peak donation activity occurs at the beginning and end of a campaign. Projects can be showcased on Fiatope for no longer than 90 days. Note also that once your campaign is launched, you can no longer change the amount nor the duration.

     h3 Ingredients for a successful campaign

     h4 Determination and engagement
     h6 The French crowdfunding association “Finance Participative France” recently published statistics showing that only 52%of all fundraising campaigns are actually successful. You must not only carefully plan your campaign but also demonstrate significant motivation and application.

     h4 A clear yet thorough description of your project
     h6 This description guides the reader through the underpinnings of your project. Here, you’ll explain how the project came to life, why you are appealing to people for your project through crowdfunding, and how you see the upcoming steps in its rollout. Tell the story, make it captivating! Many contributors need these details to be convinced that your project is truly worthwhile.
     h6 Show that your project is viable by providing all the relevant information.
     h6 You should also say exactly how the funds will be utilized. Here, the golden rule is to be transparent and coherent. The total amount of your expenditures must be equal to the amount you are requesting. Never underestimate the importance of addressing your network of friends and family as well as people you’ve never met. Provide full detail of all project-related expenses. You can also mention what you could achieve if you exceed your fundraising goal. Again, be clear and thorough in the way you write this description.

     h4 Illustrations
     h6 A picture is worth more than a thousand words. Convince your contributors with images that strike the imagination. The image on the thumbnail and that on the “Discover our projects” page are the ones that potential contributors see first, so they should be as attractive as possible. It’s also a good idea to add pertinent visual features to your project description. This also makes the reading easier.
     h6 Choose your images carefully, since they reflect the engagement you hope to elicit.

     h4 A video
     h6 A video is a great way to present your project and give added insight into your motivations. Be aware that projects without videos tend not to attract visitors. Keep the video short (under 2 minutes) and powerful.
     h6 The video brings your project to life. When presenting your project, be sure to say why you are using crowdfunding to attract financial support.
     h6 Above all, be natural and enthusiastic, and make it fun! Share your excitement with your contributors, make them realize how fortunate they are to be taking part in the launch of your project.

     h4 Attractive rewards
     h6 You can further motivate your contributors by offering rewards. Of course, this does not mean paying them, but rather involving them above and beyond their financial participation.
     h6 For example, your association has launched a project to build a cultural center in Burkina Faso. Your reward system may include a one-year membership in the association, a subscription to the Newsletter, or the person’s name engraved on a plaque at the entrance to the future building.
     h6 You can set up either a single reward or a multi-level rewards system based on the amount contributed.
     h6 It is important to find the right balance between the cost or the rewards you choose and the amount you receive from the contributors.
     h6 Certain rewards are prohibited:

     h4 Follow up, stay engaged
     h6 Stay in touch with the people who have made contributions throughout the campaign. These people will be the ones to help you find even more support.
     H6 Let your contributors know how your project is coming along. This is the first reward you must give.

     h4 An engaging bio
     h6 You have to provide an attractive and inspiring bio of yourself  
