= content_for :title, t('.title')

- if request.xhr?
  a.close-reveal-modal ×

.terms-page.static-page
  .row
    .title
      h2 Termes &amp; Conditions d'Utilisation
      = image_tag("panorama_fiatope_nine.jpg", :align=> "center")
      h5 IL EST IMPORTANT DE LIRE ATTENTIVEMENT ET DE COMPRENDRE CES CONDITIONS GENERALES D'UTILISATION DU SITE. EN ACCEPTANT LES PRESENTES, VOUS VOUS ENGAGEZ A RESPECTER LES TERMES ET CONDITIONS CI-APRES. SI VOUS N'ETES PAS D'ACCORD AVEC CES TERMES ET CONDITIONS ET QUE VOUS NE VOULEZ PAS LES RESPECTER, VOUS NE DEVREZ PAS LES ACCEPTER ET NE POURREZ PAS, EN CONSEQUENCE, BENEFICIER DES SERVICES PROPOSES PAR LA SOCIETE SUR LE SITE.
    .text
      h4 Préambule
      p L'Associaiton FIATOPE, dont le décret de parution au Journal Officiel sera publié en janvier, et dont le le siège social est fixé au 110 rue Pierre Brossolette , 92320 (ci-après dénommée « l'Association ») édite et anime un site Internet sous la marque Fiatope.com, accessible sur le réseau internet à l’adresse http://www.fiatope.com (ci-après dénommé « Fiatope » ou « le Site »), ayant pour objet :
      ol
        li De fournir un service d’intermédiation entre les Porteurs de Projets et les bonnes volontés dans le Monde afin de faciliter leur interaction
        li De mettre en avant des projets en recherche de financement dans les pays du Sud.
        li De donner la possibilité aux Porteurs de Projets d’exposer leurs initiatives en ligne et donc à un maximum de contributeurs potentiels, et ainsi d’être en mesure de réaliser leur objectif de financement ou d’apport en expertise.
        li De donner la possibilité aux personnes d’offrir leur expertise et leurs compétences à des Porteurs de Projets prêts à les rémunérer en échange.
        li De fournir des outils de discussions et d’échanges sur les projest

      p Fiatope agit en tant qu’intermédiaire entre les internautes qui souhaitent participer au financement ou à la réalisation des Projets et les Porteurs de Projets qui recherchent une contribution destinée au financement et au développement de leur Projet.
      
      p Les présentes Conditions Générales ont pour objet de définir les conditions et modalités de la mise à disposition de ces Services aux utilisateurs du Site. L’utilisation de Fiatope ou des services proposés sur Fiatope supposent l’acceptation pleine et entière des présentes Conditions Générales d’Utilisations par les Utilisateurs  y compris des stipulations de toutes notices applicables au site, incluant notamment : la charte de confidentialite, et les éléments fournis dans les FAQ. 

      h4 Articles
