.footer
  min-height: 150px
  font-size: 14px
  font-weight: 300
  color: white
  a
    color: white
  li
    list-style: none
  ul
    padding: 0
  .designed-by
    padding-top: 20px
    a
      color: #DB9500

.facebook, .twitter, .linkedin
  display: inline-block

.social-link
  font-size: 40px
  padding-bottom: 40px
  .facebook
    img 
      height: 60px
  .twitter
    img 
      height: 60px
  .linkedin
    img 
      height: 60px

.crowdfunding
  img 
    height: 150px
    border-radius: 50%

.arkea
  img
    height: 50px
    margin-top: 10px

.payline
  img
    height: 30px
    margin-top: 20px

.secure-title
  padding-top: 20px


.secure
  padding: 30px
  background-color: #5B5B5B


.main-footer
  background-color: #303233
  padding: 30px

.newsletter 
  padding-top: 10px



