= content_for :title, t('.title')

- if request.xhr?
  a.close-reveal-modal ×

.whitelabel-submission-thank-you-page.static-page
  .row
    .title
      h3 Merci de votre confiance! 
      h4 Votre demande a bien été envoyée et nous allons la traiter.
      h4 Nous allons meetre en place votre plateforme. Cette opération   
      h4 Vous recevrez sous 48h ouvrables un email avec les informations pour accéder à votre console administrateur.  
      h4 Une fois que la configuration du site vous conviendra, il vous restera à renseigner au lien indiqué vos informations de paiement. Vous serez débités au pro-rata du nombre de jours pendant lesquels votre site sera actif et ce à une fréquence mensuelle.
      h4 Vos site de crowdfunding sera opérationnel dès que nous aurons l'aval de notre intermédiaire de paiement et de l'Autorité de Contrôle Prudentiel. Il faut compter une semaine pour cela. </p>
