strong Are you sure? 
| En contribuant publiquement, les autres potentiels donateurs verront votre engagement et votre conviction dans le projet. Cela pourrait même les encourager à faire comme vous!
br
br
| Le montant de votre contribution ne sera jamais connnue de personne à l'exception du porteur de projet. Uniquement votre nom sera visible publiquement.
