h4 Frequently Asked Questions
ul
  li
    a href="#"
      i.icon-et-down-circled
      | Comment je contribue?
    p.hide Facile! Entrez le montant que vous souhaiter contribuer. Ensuite choisissez un reward si vous en voulez un. Vous pouvez aussi laisser un message spécial à afficher avec votre contribution. Vous pouvez enfin choisir de faire une contribution anonyme. Ensuite validez
  li
    a href="#"
      i.icon-et-down-circled
      | Quand est-ce le paiement est traité?
    p.hide Juste après que vous ayiez validé. Vous recevrez un mail dans la minute qui suit. Si vous contribuez par chèque, celui-ci est à remettre au porteur de projet qui nous en informera.
  li
    a href="#"
      i.icon-et-down-circled
      | Suis-je remboursé si le projet venait à être annulé?
    p.hide Oui. Vous recevrez automatiquement un montant de crédits équivalent à votre contribution. Vous pourrez les utiliser pour d'autres projets sur #{Configuration[:company_name]}. Vous pourrez aussi être remboursé.
  li
    a href="#"
      i.icon-et-down-circled
      | Quand et comment est-ce que je récupère mon reward?
    p.hide Juste après que la campagne soit terminée, #{link_to @project.user.display_name, user_path(@project.user)} vous contactera à cet effet.

