- content_for :title, t('.title')
- is_waiting_confirmation = @contribution.payment_method == 'balanced-bankaccount' && @contribution.waiting_confirmation?

.contribution-page[class="#{'waiting-bankaccount' if is_waiting_confirmation}"]
  = hero_header_tag @project do
    .row
      .large-10.columns.large-centered
        - if is_waiting_confirmation
          h3 = t('.one_more_step')
        - else
          h3 = t(@project.name)
          /= render 'shared/payments/success/status'

  - if is_waiting_confirmation
    section.bankaccount
      .row
        .large-12.columns
          h3 = t('.bankaccount.title')
          ol
            li = t('.bankaccount.steps.first')
            li = t('.bankaccount.steps.second')
            li = t('.bankaccount.steps.third')

  h3.black.text-center = t('.thank_you', project_name: @project.name)  
  .mycontrib
    h3.text-center = t('.mycontrib', amount: @contribution.display_value)
  .statusbar
    .row
      .status.col-md-12.text-center
        = @project.progress_bar
        .pledged.hide-for-medium
          = @project.display_pledged
          small = t('.so_far').html_safe
          = @project.display_goal
        .pledged.show-for-medium
          = @project.display_pledged
          small = t('.reached_goal_small_separator_html')
          = @project.display_goal

  = render 'shared/payments/success/share', i18n_scope: 'projects.contributions.show', tweet_text: t('.twitter-text', value: @contribution.display_value, name: @project.name, project_url: project_url(@project))
  .row
  

= render 'shared/payments/success/recommended_projects', user: @contribution.user
