| Bonjour
- if @resource.name
  | , #{@resource.name}!
br
br
| Vous pouvez ré-initialiser votre mot de passe ici: 
br
h1 = link_to('Ré-initialiser mon mot de passe', edit_password_url(@resource, reset_password_token: @token))
br
| Si vous rencontrez tout autre problème,   
= mail_to "contact@fiatope.com", 'laissez nous un mot'
| .
br
br
| Tout le meilleur,
br
|L équipe #{Configuration[:company_name]}
