- project = @notification.project

|Bonjour #{project.user.display_name},
br
br
|Nous avons vérifié les documents nécessaires au paiement du projet #{link_to(project.name, project_url(project))}.
br
|Une information ou un document doit être corrigé avant que Fiatope puisse finaliser le paiement.
br
br
|Vous pouvez corriger et renvoyer vos documents pendant 14 jours.
br
= link_to 'Corriger mes documents de paiement', pay_project_url(project)
br
br
|Merci de vérifier les informations de la structure, les coordonnées bancaires et les documents demandés.
br
|Après votre nouvel envoi, notre équipe reprendra la vérification.
br
br
|Pour votre sécurité, n’envoyez pas vos documents par email. Utilisez uniquement le formulaire Fiatope.
br
br
|Merci,
br
|L’équipe #{Configuration[:company_name]}
