- project = @notification.project

|Hello #{project.user.display_name},
br
br
|We reviewed the documents required for payment of project #{link_to(project.name, project_url(project))}.
br
|One piece of information or one document must be corrected before Fiatope can complete the payment.
br
br
|You can correct and resend your documents for 14 days.
br
= link_to 'Correct my payment documents', pay_project_url(project)
br
br
|Please check the structure information, bank details and requested documents.
br
|After you resend them, our team will review them again.
br
br
|For your security, do not send documents by email. Use only the Fiatope form.
br
br
|Thank you,
br
|The #{Configuration[:company_name]} team
