- project = @notification.project

|Hello #{project.user.display_name},
br
br
|We reviewed your withdrawal request for project #{link_to(project.name, project_url(project))}.
br
|Some information or supporting documents must be corrected before Fiatope can finalize the bank payout through Stripe.
br
br
|Your withdrawal form is open again for 14 days.
br
= link_to 'Update my withdrawal profile', pay_project_url(project)
br
br
|Please check the company, association or organization information, bank details and requested documents. After you submit the form again, the information will be sent automatically to Stripe for verification.
br
br
|For your security, do not send documents by email. Use only the Fiatope form.
br
br
|Thank you,
br
|The #{Configuration[:company_name]} team
