- project = @notification.project

|Bonjour #{project.user.display_name},
br
br
|Nous avons controle votre demande de retrait pour le projet #{link_to(project.name, project_url(project))}.
br
|Certaines informations ou pieces justificatives doivent etre corrigees avant que Fiatope puisse finaliser le virement bancaire.
br
br
|Le formulaire de retrait est de nouveau ouvert pendant 14 jours.
br
= link_to 'Modifier mon profil de retrait', pay_project_url(project)
br
br
|Merci de verifier les informations de l'entreprise, association ou organisation, les coordonnees bancaires et les justificatifs demandes. Apres votre nouvelle soumission, notre equipe reprendra la verification du dossier.
br
br
|Pour votre securite, n'envoyez pas vos documents par email. Utilisez uniquement le formulaire Fiatope.
br
br
|Merci,
br
|L'equipe #{Configuration[:company_name]}
