= content_for :title, t('.titre')
|Chèr(e) #{@notification.project.user.display_name},
br
br
| Merci de nous faire confiance.  Nous avons le plaisir de vous informer que votre projet a été accepté pour une campagne de financement participatif Fiatope. Si cela n’a pas encore été fait, nous vous encourageons fortement à passer en revue les points suivants de la préparation de votre campagne;
br
br
ol
  li
    strong La description du projet:
    |  C’est le coeur de votre page projet sur Fiatope. Elle doit indiquer l’objectif du projet, l’impact qu’il aura sur la communauté ou la cible visée, pourquoi vous avez besoin des précieuses contributions de vos soutiens, et donner des informations sur l’organisation qui porte le projet. Faites en sorte d’être suffisamment détaillé tout en maintenant une longueur de page raisonnable. Enfin invitez de façon claire et explicite les gens à contribuer. 
    br/
    br/
  li
    strong Vos images:
    |  Nous vous suggérons de prendre grand soin du choix des photos que vous utiliserez sur votre page de présentation. Les images doivent compléter et illustrez votre texte. Elles sont toujours très utiles à donner à vos visiteurs une idée de ce que vous réalisez. Certaines des images peuvent représenter l’état actuel du projet ou aussi ce qu’il deviendra avec le financement.
    br/
    br/
  li
    strong Votre Video:
    |  Il vous faut une vidéo pour engager votre audience. Gardez-la courtes (moins de 2 minutes)  mais assez parlante. Faites en sorte d’y faire un appel direct à contribution. Mettez-y de la clarté, de l’envie de vous soutenir, du punch et du sourire. 
    br/
    br/
  li
    strong Vos contreparties:
    |  Vous devez mettre en place un système de contreparties pour vos contributeurs, afin de les récompenser d’avoir financé votre projet. Les contreparties peuvent être de différentes nature (inscription du nom du contributeur sur une page de mécènes ou une plaque dans vos locaux, goodies…). Soyez créatifs et originaux.
    br/
    br/
  li
    strong Plan Marketing:
    |  Commencez à travailler sur une stratégie de communication en identifiant les cibles pertinentes, en partant de votre coeur de cible (les personnes, communautés et institutions les plus susceptibles de contribuer) vers sa périphérie. Commencez par mobiliser votre premier cercle (famille, amis, collègues….). C’est leur apport qui vous permettra d’aller vers les autres cibles. Vous allez devoir faire du buzz sur les médias sociaux et traditionnels si possible. identifiez des influenceurs, des personnes ou des institutions connues pour relayer l’appel à contribution.
    br/
    br/
  li
    strong Votre équipe:
    |  Identifiez toutes les ressources qui peuvent vous apporter un coup de main pendant votre campagne. Si vous n’êtes pas un as des réseaux sociaux, faites-vous aider par une personne experte. Le relai sur ces nouveaux médias est en effet capital.
    br/
    br/
  li
    strong Apport préalable:
    |  Nous recommandons toujours d’ouvrir la campagne au grand public une fois que votre premier cercle aura participé. En effet, un projet déjà partiellement financé incitera davantage vos visiteurs à contribuer. Informez-nous aussi de toute contribution qui vous est faite directement à vous (chèque, espèce…). Nous les intègrerons à votre campagne.
    br/
    br/
  li
    strong Détail du budget:
    |  Vos visiteurs seront d’autant plus à l’aise à donner qu’ils sauront exactement où va leur argent. Fournissez le détail de vos coûts dans l’onglet budget de votre page projet.
  li
    strong Vie de la campagne:
    |  Postez des mises à jour de votre campagne tout le long. Ceci permettra à ceux qui vous ont soutenu d’engager d’autres personne. 
br
|Merci de votre confiance et bonne campagne de levée de fons!
br
|L' équipe #{Configuration[:company_name]}
